#analytics-and-active__tab{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    .accordion-header {
        .accordion-button {
            color: var(--1inch-tc-01) !important;
            border: none !important;
            box-shadow: none !important;
            &.collapsed {
                background: var(--1inch-cbc-01);
                border-radius: 0.75rem !important;
                .opened_icon {
                    display: none !important;
                }
                .not_open_icon {
                    display: block !important;
                }
            }
            &:not(.collapsed) {
                background: var(--1inch-cbc-02);
                border-radius: 0.75rem 0.75rem 0 0 !important;

                .opened_icon {
                    display: block !important;
                }
                .not_open_icon {
                    display: none !important;
                }
            }
        }
    }
    
    .accordion-body {
        background-color: $accordion-bg-clr-open !important;
        border-radius: 0 0 0.75rem 0.75rem;
        .left-side {
            gap: 0.4rem;
            img {
                width: 0.9rem !important;
                height: 0.9rem !important;
            }
            .f_val {
                display: flex;
                align-items: center;
                font-size: 0.9rem;
                gap: 0.25rem;
    
                .text-w {
                    color: $theme-clr-litewhite;
                }
                .text-g {
                    color: $theme-clr-grayblue;
                }
            }
        }
        .filter-button {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0.25rem;
            background: #141924;    
            box-shadow: 0px 0px 0.25rem rgba(0, 0, 0, 0.1), 0px 0.01rem 0.125rem rgba(0, 0, 0, 0.25);
            border-radius: 0.75rem;
            height: 2rem;
            button {
                height: 1.5rem;
                padding: 0.313rem 0;
                width: 1.8rem;
                border: 0;
                outline: 0;
                display: inline-block;
                font-size: 0.713rem;
                line-height: 0.938rem;
                text-transform: uppercase;
                border-radius: 0.5rem;
                color: $theme-clr-litewhite;
                @include media-min-md {
                    width: 2.25rem;
                    font-size: 0.813rem;
                }
                @include media-min-max-alt(1200px,1300px){
                    width: 1.6rem;
                    height: 1.5rem;
                    font-size: 0.65rem;
                }
                @include media-min-xxl {
                    width: 2.6rem;
                    font-size: 0.813rem;
                }
                &.active,&:active {
                background: #2B374A;
                color: $theme-clr-litewhite;
                }
            }
        }


        .graph-data-details {
            margin-top: 4rem;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: space-between;
             .data-detail {
                 .round {
                    width: 0.65rem;
                    height: 0.65rem;
                    border-radius: 50%;
                    &.bg-1 {
                    background-color: #2F80ED;
                    }
                    &.bg-2 {
                    background-color: #FFC700;
                    }
                    &.bg-3 {
                    background-color: #21C085;
                    }
                    &.bg-4 {
                    background-color: #FF837A;
                    }
                    &.bg-5 {
                    background-color: #9145ED;
                    }
                    &.bg-6 {
                    background-color: #19B3BE;
                    }
                 }
                 .detail {
                    margin-left: 0.75rem;
                    display: flex;
                    flex-direction: column;
                    gap: 0.8rem;
                    span {
                        white-space: nowrap;
                        font-size: 0.95rem;
                        line-height: 0.95rem;
                        color: $theme-clr-grayblue;
                    }
                    p {
                        white-space: nowrap;
                        font-size: 1rem;
                        line-height: 1.6rem;
                        color: $theme-clr-litewhite;
                    }
                }
            }
        }

        .profile-list__wrapper {
            .profile-list {
                cursor: pointer;
                padding: 0.75rem 1rem;
                border-radius: 0.75rem;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                transition: all 0.4s ease;
                margin-bottom: 1rem;
                &:last-child {
                    margin-bottom: 0;
                }
                &:hover {
                    background-color: #10141C;
                }
                .profile-details-wrapper{
                    width: calc(100% - 5rem);
                    display: flex;
                    gap: 1rem;
                    .profile-img img {
                        width: 2rem;
                        height: 2rem;
                    }
                    .p_details {
                        width: calc(100% - 2rem);
                        display: flex;
                        flex-direction: column;
        
                        h6 {
                            color: $theme-clr-litewhite;
                            font-weight: 500;
                            font-size: 1rem;
                            line-height: 1.6rem;
                        }
                        p {
                            color: $theme-clr-grayblue;
                            font-weight: 400;
                            font-size: 1rem;
                        }
                    }
                }
                .s_percentage {
                    width: 5rem;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    .text-w {
                        color: $theme-clr-litewhite;
                        font-size: 1rem;
                    }
                    .text-g {
                        color: $theme-clr-grayblue;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}
