#analytics-and-active__tab{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    .accordion-item {
        .accordion-header {
            .accordion-button {
                display: flex !important;
                gap: 1rem;
                color: var(--1inch-tc-01) !important;
                border: none !important;
                box-shadow: none !important;
                .acc-icon {
                    width: 1.5rem;
                    height: 1.5rem;
                }
                .a-title {
                    display: flex;
                    align-items: center;
                    gap: 0.25rem;
                    span {
                        color: var(--1inch-tc-01);
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.625rem;
                    }
                    svg {
                        width: 1rem;
                        height: 1rem;
                    }
                }
                &.analytics-graph-component {
                  &.collapsed {
                    background: var(--1inch-cbc-01);
                    border-radius: 0.75rem !important;
                   .icon {
                        rect,path,circle {
                            stroke: var(--1inch-tc-02);
                        }
                   }
                   .f-active {
                        path {
                            fill: var(--1inch-tc-02);
                        }
                    }
                  }
                  &:not(.collapsed) {
                      background: var(--1inch-cbc-02);
                      border-radius: 0.75rem 0.75rem 0 0 !important;
                      .icon {
                          rect,path,circle {
                              stroke: var(--1inch-tc-01);
                          }
                      }
                      .f-active {
                          path {
                              fill: var(--1inch-tc-01);
                          }
                      }
                  }
                }

            }
        }
        .accordion-body {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            border-radius: 0 0 0.75rem 0.75rem;
        }
    }
}
