$buttons: "white" #fff#000, "wallet" rgba(47, 138, 245, 0.16) #2f8af529, "liteblue" rgba(47, 138, 245, 0.16) #2F8AF5,'blue'#2F8AF5#fff;

@each $value in $buttons {
  .btn-#{ nth($value, 1) } {
    background-color: nth($value, 2) !important;
    color: nth($value, 3) !important;
    &:hover,
    &:active {
      background-color: nth($value, 2) !important;
      border-color: nth($value, 2) !important;
      color: nth($value, 3) !important;
    }
    &:focus {
      box-shadow: none !important;
    }
  }
}

button {
  &:focus {
    box-shadow: none !important;
  }
}

.btn-reset {
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 0.688rem 1.125rem !important;
  gap: 0.5rem !important;
  border: 0.0613rem solid rgba(47, 138, 245, 0.16) !important;
  border-radius: 0.75rem !important;
  color: var(---1inch-cstc-01) !important;
  width: 100%;
  font-weight: 500 !important;
  font-size: 0.813rem !important;
  line-height: 1 !important;
  background-color: transparent !important;
}

.btn-apply {
  display: flex;
  padding: 0.6875rem 1.125rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  border-radius: 0.75rem;
  background-color: transparent;
  border: 1px solid  rgba(47, 138, 245, 0.16);
  color: var(--1inch-tc-01);
  text-align: center;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1rem; /* 123.077% */
  &:hover{
    @include media-min-lg {
      background-color: var(--1inch-cbc-20);
    }
  }
}

.c-btn__small {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.563rem;
  gap: 0.5rem;
  width: 2.625rem;
  height: 2.625rem;
  border: 1px solid #202835;
  border-radius: 0.75rem;
  background-color: transparent;
}
