.badge-card {
  position: relative;
  border-radius: 1.5rem !important;
  cursor: pointer;
  &::before{
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    z-index: -2;
    border-radius: 1.5rem;
    background: linear-gradient(178.39deg, #434343 0%, rgba(33, 33, 33, 0) 83.3%);
  }
  &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      border-radius: 1.5rem;
      background: var(--1inch-cbc-02);
  }

  &:hover {
    @include media-min-lg {
      .add-to-bag,.three-dot {
        display: flex !important;
      }
    }
  }

  .new-collection-nft-image {
    height: 7.875rem;
    @include media-min-alt(360px) {
      height: 11.25rem;
    }
    img {
      border-radius: 1.5rem 1.5rem 0 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .add-to-bag {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      width: 1.8rem;
      height: 1.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      border-radius: 50px;
      overflow: hidden;
      display: none;
      &::before {
        position: absolute;
        z-index: -1;
        content: "";
        background-color: #06070A;
        opacity: 0.7;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
      svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }
  .new-collection-nft-body {
    display: flex;
    width: 100%;
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-top: -3.5rem;
    .badge-icon {
      width: 3.75rem;
      height: 3.75rem;
      border-radius: 1rem;
      z-index: 1;
      position: relative;
      img {
        width: 3.75rem;
        height: 3.75rem;
        border-radius: 1rem;
      }
      &::before {
        border-radius: 1rem;
        content: '';
        z-index: 0;
        position: absolute;
        left: -1px;
        right: -1px;
        top: -1px;
        bottom: -1px;
        z-index: -1;
        background: linear-gradient(178.39deg, #434343 0%, rgba(33, 33, 33, 0) 83.3%);
        background-color: var(--1inch-cbc-02);
      }
    }
    .c-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
      width: 100%;
      .nft-title-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.25rem;
        width: 100%;
        .title-wrapper {
          display: flex;
          align-items: center;
          gap: 0.25rem;
          max-width: calc(100% - 1.75rem);
          p {
            margin: 0;
            color: var(--1inch-tc-01);
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5rem; /* 150% */
            max-width: calc(100% - 1.25rem);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            @include media-min-sm {
              font-size: 1.25rem;
              line-height: 1.5rem; /* 120% */
            }
          }
          svg {
            width: 1rem;
            height: 1rem;
          }
        }
        .three-dot {
          display: none;
          width: 1.25rem;
          height: 0.25rem;
        }
      }

      .nftStats__wrapper {
        display: flex;
        gap: 1rem;
        @include media-min-sm {
          gap: 1.875rem;
        }
        .nft_stats {
          display: flex;
          align-items: flex-start;
          gap: 0.25rem;
          p {
            color: var(--1inch-tc-02);
            font-weight: 300;
            margin: 0;
            font-size: 0.875rem;
            line-height: 1.625rem; /* 185.714% */
            @include media-min-sm {
              font-size: 1rem;
            }
          }
          .price {
            display: flex;
            align-items: center;
            gap: 0.125rem;
            p {
              color: var(--1inch-tc-01);
              font-weight: 400;
              margin: 0;
              font-size: 0.875rem;
              line-height: 1.625rem; /* 162.5% */
              @include media-min-sm {
                font-size: 1rem;
              }
            }
            .icon {
              display: flex;
              width: 1rem;
              height: 1rem;
              padding: 0.125rem;
              justify-content: center;
              align-items: center;
              svg {
                width: 0.75rem;
                height: 0.75rem;
              }
            }
          }
        }
      }
      .desc {
        margin: 0;
        color: var(--1inch-tc-06);
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.4375rem; /* 164.286% */
        @include media-min-sm {
          font-size: 1rem;
          line-height: 1.625rem; /* 162.5% */
        }
      }
    }
  }
}
