.small-x-card {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 0.25rem;
  background-color: transparent;
  cursor: pointer;
  margin-left: -10px;
  @include media-min-alt(360px) {
    margin-left: 0;
  }
  @include media-min-xl {
    border-radius: 0.75rem;
    padding: 0.5rem;
  }
  @include media-min-xxl {
    border-radius: 1.5rem;
    gap: 0.5rem;
  }
  &:hover {
    @include media-min-xl {
      background-color: var(--1inch-cbc-05);
    }
  }

  .trend-no-wrapper {
    display: flex;
    width: 1.5rem;
    height: 1.625rem;
    padding: 0rem 0.375rem 0rem 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
      color: var(--1inch-tc-02);
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.625rem; /* 162.5% */
    }
  }
  .trend-collection-card-content-wrapper {
    display: flex;
    width: calc(100% - 1.75rem);
    align-items: center;
    gap: 1rem;
    @include media-min-xxl {
      width: calc(100% - 2rem);
      gap: 1.5rem;
    }
    .collection-image-wrapper {
      width: 3.75rem;
      height: 3.75rem;
      position: relative;
      border-radius: 0.75rem;
      z-index: 1;
      @include media-min-md {
        width: 5.5rem;
        height: 5.5rem;
      }
      @include media-min-xxl {
        width: 7.5rem;
        height: 7.5rem;
        border-radius: 1.5rem;
      }
      &::before {
        content: '';
        z-index: -2;
        position: absolute;
        left: -1px;
        right: -1px;
        top: -1px;
        bottom: -1px;
        background: linear-gradient(178.39deg, #434343 0%, rgba(33, 33, 33, 0) 83.3%);
        border-radius: 0.75rem;
        @include media-min-xxl {
          border-radius: 1.5rem;
        }
      }
      &::after {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
        background-color: var(--1inch-cbc-02);
        border-radius: 0.75rem;
        @include media-min-xxl {
          border-radius: 1.5rem;
        }
      }
      img {
        width: 3.75rem;
        height: 3.75rem;
        border-radius: 0.75rem;
        @include media-min-md {
          width: 5.5rem;
          height: 5.5rem;
        }
        @include media-min-xxl {
          width: 7.5rem;
          height: 7.5rem;
          border-radius: 1.5rem;
        }
      }
    }
    .trend-collection-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.25rem;
      width: calc(100% - 4.75rem);
      @include media-min-md {
        width: calc(100% - 6.5rem);
      }
      @include media-min-xxl {
        width: calc(100% - 9rem);
        gap: 0.5rem;
      }
      .trend-collection-title-wrapper {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        width: 100%;
        h6 {
          margin: 0;
          color: var(--1inch-tc-01);
          font-size: 1rem;
          font-weight: 500;
          line-height: 1.625rem; /* 162.5% */
          max-width: calc(100% - 1.25rem);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          @include media-min-sm {
            font-size: 1.25rem;
            line-height: 1.5rem; /* 120% */
          }
        }
        svg {
          width: 1rem;
          height: 1rem;
        }
      }
      .trend-collection-stats-wrapper {
        display: flex;
        align-items: flex-start;
        gap: 0.5rem;
        .stats-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.1875rem;
          @include media-min-sm {
            gap: 0.25rem;
          }
          p {
            margin: 0;
            color: var(--1inch-tc-02);
            font-size: 0.8125rem;
            font-weight: 300;
            line-height: 1rem; /* 123.077% */
            white-space: nowrap;
            @include media-min-sm {
              font-size: 1rem;
              line-height: 1.625rem; /* 162.5% */
            }
          }
          .price {
            display: flex;
            align-items: center;
            gap: 0.125rem;
            p {
              margin: 0;
              white-space: nowrap;
              color: var(--1inch-tc-01);
              text-align: right;
              font-weight: 400;
              font-size: 0.8125rem;
              line-height: 1rem;
              @include media-min-sm {
                font-size: 1rem;
                line-height: 1.625rem; /* 162.5% */
              }
            }
            .icon {
              display: flex;
              width: 1rem;
              height: 1rem;
              padding: 0.125rem;
              justify-content: center;
              align-items: center;
              svg {
                width: 0.75rem;
                height: 0.75rem;
              }
            }
            .polygon-icon {
              display: flex;
              width: 1.5rem;
              height: 1.5rem;
              padding: 0.125rem;
              justify-content: center;
              align-items: center;
              svg {
                width: 1.25rem;
                height: 1.25rem;
              }
            }
          }
        }
      }
      .percentage {
        margin: 0;
        font-size: 0.8125rem;
        font-weight: 300;
        line-height: 1rem; /* 123.077% */
        @include media-min-sm {
          font-size: 1rem;
          line-height: 1.625rem; /* 162.5% */
        }
      }
    }
  }
}
