.extra-large-card {
    cursor: pointer;
    position: relative !important;
    background-color: transparent !important;
    height: 100%;
    border-radius: 1.5rem !important;
    &::before {
        border-radius: 1.5rem;
        content: '';
        z-index: -1;
        position: absolute;
        left: -1px;
        right: -1px;
        top: -1px;
        bottom: -1px;
        background: linear-gradient(178.39deg, #434343 0%, rgba(33, 33, 33, 0) 83.3%);
    }
    .h-card {
        display: flex;
        overflow: hidden;
        border-radius: 1.5rem;
        @include media-max-alt(991px) {
            flex-direction: column;
        }
        .nft-bg-image {
            width: 100%;
            border-radius: 1.5rem 1.5rem 0 0;
            height: 7.875rem;
            position: relative;
            img {
                object-fit: cover;
                border-radius: 1.5rem 1.5rem 0 0;
            }
            @include media-min-sm {
                height: 9rem;
            }
            @include media-min-md {
                height: 11rem;
            }
            @include media-min-lg {
                width: 40%;
                height: unset;
                border-radius: 1.5rem 0 0 1.5rem;
                img {
                    border-radius: 1.5rem 0 0 1.5rem;
                }
                &::after {
                    position: absolute;
                    content: '';
                    left: auto;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    width: 9.375rem;
                    height: 100%;
                    opacity: 0.75;
                    border-radius: 1.5rem 0 0 1.5rem;
                    background: linear-gradient(90deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
                }
            }
            @include media-min-xxl {
                width: 23.8125rem;
                height: 23.8125rem;
            }
        }
        .content-box {
            width: 100%;
            background-color: var(--1inch-cbc-02);
            position: relative;
            z-index: 1;
            border-radius: 0 0 1.5rem 1.5rem;
            display: flex;
            align-items: center;
            @include media-min-lg {
                border-radius: 0 1.5rem 1.5rem 0;
                width: 60%;
            }
            .inner-box {
                display: flex;
                flex-direction: column;
                margin-top: -3rem;
                gap: 0.5rem;
                padding: 0.5rem;
                @include media-min-sm {
                    padding: 1rem;
                }
                @include media-min-lg {
                    gap: 2.5rem;
                    margin-top: 0;
                    margin-left: -3.75rem;
                }
                .profile {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    @include media-min-lg {
                        flex-direction: row;
                        display: flex;
                        align-items: flex-start;
                        gap: 1.125rem;
                    }
                    .profile-img {
                        display: flex;
                        width: 3.75rem;
                        height: 3.75rem;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        border-radius: 1rem;

                        &::before {
                            border-radius: 1rem;
                            content: '';
                            z-index: -2;
                            position: absolute;
                            left: -1px;
                            right: -1px;
                            top: -1px;
                            bottom: -1px;
                            background-color: var(--1inch-cbc-02);
                            background: linear-gradient(178.39deg, #434343 0%, rgba(33, 33, 33, 0) 83.3%);
                        }

                        img {
                            width: 3.75rem;
                            height: 3.75rem;
                            border-radius: 1rem;
                        }
                        @include media-max-lg {
                            width: fit-content;
                        }
                    }
                    .p-content {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 0.5rem;
                        .title-wrapper {
                            display: flex;
                            align-items: center;
                            gap: 0.25rem;
                            h6 {
                                margin: 0;
                                color: var(--1inch-tc-01);
                                font-size: 1.25rem;
                                font-weight: 400;
                                line-height: 1.5rem; /* 120% */
                            }
                            svg {
                                width: 1rem;
                                height: 1rem;
                            }
                        }
                        span {
                            color: var(--1inch-tc-02);
                            font-size: 1rem;
                            font-weight: 400;
                            line-height: 1.625rem; /* 162.5% */
                        }
                    }
                }
                .bit-details {
                    display: flex;
                    align-items: flex-start;
                    gap: 1rem;
                    @include media-min-sm {
                        gap: 1.5rem;
                    }
                    .bit-detail {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        @include media-min-sm {
                            gap: 0.5rem;
                        }
                        p {
                            margin: 0;
                            color: var(--1inch-tc-02);
                            font-weight: 400;
                            font-size: 0.875rem;
                            line-height: 1.5rem; /* 171.429% */
                            @include media-min-sm {
                                font-size: 1rem;
                                line-height: 1.625rem; /* 162.5% */
                            }
                        }
                        .details {
                            display: flex;
                            align-items: center;
                            gap: 0.125rem;
                            h5 {
                                margin: 0;
                                color: var(--1inch-tc-01);
                                font-weight: 400;
                                font-size: 1rem;
                                line-height: 1.5rem; /* 120% */

                                @include media-min-sm {
                                    font-size: 1.25rem;
                                }
                            }
                            .icon {
                                display: flex;
                                width: 1rem;
                                height: 1rem;
                                padding: 0.125rem;
                                justify-content: center;
                                align-items: center;
                                @include media-min-sm {
                                    width: 1.5rem;
                                    height: 1.5rem;
                                    padding: 0.1875rem;
                                }
                                svg {
                                    width: 0.75rem;
                                    height: 0.75rem;
                                    @include media-min-sm {
                                        width: 1.125rem;
                                        height: 1.125rem;
                                    }
                                }
                            }
                        }
                    }
                }
                .desc {
                    margin: 0;
                    color: var(--1inch-tc-06);
                    font-size: 0.875rem;
                    font-weight: 400;
                    line-height: 1.4375rem;
                    @include media-min-sm {
                        font-size: 1rem;
                        line-height: 1.625rem; /* 162.5% */
                    }
                }
            }
        }
    }
}

.bg-gradient-after {
    content: '';
    position: absolute;
    left: 0.07%;
    right: -52.88%;
    top: 0%;
    bottom: -170.62%;
    z-index: -1;
    opacity: 0.3;
}

.bg-gradient-purple {
    &::after {
        @extend .bg-gradient-after;
        @include media-min-lg {
            background: radial-gradient(50.12% 50.12% at 50.12% 49.88%, #DA4890 0%, rgba(0, 6, 56, 0) 100%);
        }
    }
}

.bg-gradient-seablue {
    &::after {
        @extend .bg-gradient-after;
        @include media-min-lg {
            background: radial-gradient(50.12% 50.12% at 50.12% 49.88%, #373D7B 0%, rgba(0, 6, 56, 0) 100%);
        }
    }
}
