.collection-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .card-image {
    position: relative;
    border-radius: 1.5rem;
    overflow: hidden;
    .card-icon {
      position: absolute;
      top: 0.75rem;
      left: 0.75rem;
      right: 0.75rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .rounded-box {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        display: none;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        overflow: hidden;
        padding: 0.2rem;
        &::before {
          position: absolute;
          z-index: -1;
          content: "";
          background-color: #06070a;
          opacity: 0.4;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
        img {
          border-radius: 12px;
          width: 1.45rem !important;
          height: 1.45rem !important;
        }
        .tickIcon {
          display: none;
          svg {
            width: 1rem !important;
            height: 1rem !important;
          }
        }
        input[type="checkbox"]:checked ~ .tickIcon {
          display: block !important;
        }
      }
    }
    .btn-wrapper {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0.75rem;
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 1;

      .add_btn {
        display: flex !important;
        padding: 0.5rem 1rem;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        border-radius: 0.5rem;
        background: var(--1inch-bc-08);
        color: var(--1inch-tc-01);
        font-weight: 400;
        font-size: 0.8125rem;
        line-height: 1rem;
        @include media-min-lg {
          font-size: 1rem;
          line-height: 1.625rem;
          border-radius: 0.75rem;
          height: 2.73438rem;
          padding: 0.6875rem 1.125rem;
        }
      }
    }
    .img-stroke {
      position: relative;
      &::before {
        border-radius: 1.5rem;
        content: '';
        z-index: -2;
        position: absolute;
        left: -1px;
        right: -1px;
        top: -1px;
        bottom: -1px;
        background: linear-gradient(178.39deg, #434343 0%, rgba(33, 33, 33, 0) 83.3%);
      }
      .collection_img {
        border-radius: 1.5rem;
        transition: transform 0.3s;
        &.is_checked {
          border: 2px solid var(--1inch-bc-08);
        }
      }
    }
  }
  .card-body {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    .details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.25rem;
      .c_name {
        max-width: calc(100% - 5.25rem);
        color: var(--1inch-tc-02);
        span {
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 0.8125rem;
          line-height: 1rem;
          font-weight: 400;
          color: var(--1inch-tc-02);
          @include media-min-md {
            font-size: 1rem;
            line-height: 1.625rem;
          }
        }
      }
      .rarity_rank {
        display: flex;
        align-items: center;
        max-width: 5rem;
        background-color: var(--1inch-bc-09);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;
        padding: 0.25rem 0.5rem;
        border-radius: 1.5rem;
        img {
          width: 0.85rem !important;
          height: 0.85rem !important;
          filter: invert(1);
        }
        span {
          white-space: nowrap;
          font-size: 0.6875rem;
          line-height: 0.875rem;
          font-weight: 400;
          color: var(--1inch-tc-02);
          @include media-min-md {
            font-size: 0.8125rem;
            line-height: 1rem;
          }
        }
      }
      .price-stats {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        span {
          font-size: 1rem;
          line-height: 1.625rem;
          color: var(--1inch-tc-01);
          font-weight: 400;
          @include media-min-md {
            font-size: 1.25rem;
            line-height: 1.5rem;
          }
        }
        .icon {
          display: flex;
          width: 1.2rem;
          height: 1.2rem;
          padding: 0.05875rem;
          justify-content: center;
          align-items: center;
          @include media-min-md {
            width: 1.5rem;
            height: 1.5rem;
          }
          svg {
            width: 1rem;
            height: 1rem;
          }
        }
      }
      .action-wrapper {
        .btn-buy {
          white-space: nowrap;
          padding: 0.5rem 1rem;
          font-size: 0.813rem;
          line-height: 1rem;
          font-weight: 500;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 0.5rem;
          color: var(--1inch-tc-08);
          background-color: transparent;
          &:hover {
            background-color: rgba(47, 138, 245, 0.16);
          }
        }
        .btn-cart {
          background-color: #2f8af529;
          padding: 0.25rem;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          border-radius: 0.5rem;
          svg {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }
    }
  }

  &:hover {
    .source-wrapper {
      display: flex !important;
    }
    .img-stroke {
      position: relative;
      overflow: hidden;
      .collection_img {
        border-radius: 1.5rem;
        transform: scale(1.1);
      }
    }

  }
}
