#c_filter-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: transform 0.5s ease;
  background-color: var(--1inch-cbc-03);

  @include media-min-lg {
    position: sticky;
    top: 6.5rem;
    width: 15.5rem;
    border-radius: 1.5rem;
    padding: 1rem 0rem;
    height: auto;
    z-index: 9;
  }
  .filter-header_wrapper {
    display: flex;
    width: 100%;
    padding: 1.25rem 1rem 1rem 1.5rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--1inch-cbc-05);
    border-bottom: 1px solid #2F3B4D;
    @include media-min-lg {
      display: none;
    }
    h6 {
      margin: 0;
      color: var(--1inch-tc-01);
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 1.5rem; /* 120% */
    }
    .close-icon {
      display: flex;
      padding: 0.25rem;
      align-items: flex-start;
      gap: 0.625rem;
      border-radius: 0.5rem;
      background-color: transparent;
      &:hover {
        background-color: var(--1inch-cbc-02) !important;
      }
      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
  .filter-body-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1rem 0rem;
    height: calc(100vh - 9rem);
    @include scroll-bar(0.125rem,0.125rem);
    @include media-min-lg {
      height: calc(100vh - 10.5rem);
      padding: 0;
    }
    .filter-body-header {
      display: flex;
      padding: 0rem 0.5rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
      align-self: stretch;
      .toggle-wrapper {
        width: 100%;
        display: flex;
        padding: 0.4375rem 0.5rem 0.4375rem 1rem;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        border-radius: 0.5rem;
        p {
          margin: 0;
          color: var(--1inch-tc-02);
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.625rem; /* 162.5% */
          &.active {
            color: var(--1inch-tc-01) !important;
          }
        }
      }
    }
    .filter-body {
      display: flex;
      padding: 0rem 0.5rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
      width: 100%;
    }
    .accordion {
      width: 100%;
      .accordion-item {
        width: 100%;
        background-color: transparent;
        border: none;
        .accordion-button {
          background-color: transparent;
          box-shadow: none;
          color: var(--1inch-tc-01);
          padding: 0 !important;
          &.collapsed {
            .downArrowIcon {
              display: block !important;
            }
            .upArrowIcon {
              display: none !important;
            }
          }
          &:not(.collapsed) {
            .upArrowIcon {
              display: block !important;
            }
            .downArrowIcon {
              display: none !important;
            }
          }
          &::before,&::after {
            display: none;
          }
          .accordion-filter-header {
            width: 100%;
            display: flex;
            padding: 0.6875rem 0.75rem 0.6875rem 1rem;
            align-items: center;
            justify-content: space-between;
            gap: 0.75rem;
            border-radius: 0.75rem;
            p {
              margin: 0;
              color: var(--1inch-tc-01);
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.625rem; /* 162.5% */
            }
            .icon-wrapper {
              display: flex;
              align-items: center;
              gap: 0.75rem;
              span {
                color: var(--1inch-tc-02);
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.625rem; /* 162.5% */
              }
              svg {
                width: 1rem;
                height: 1rem;
              }
            }
          }
        }
        .accordion-body {
          display: flex;
          padding: 0.5rem;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          .range-inputs {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 0.5rem;
            width: 100%;
            .price-range-input {
              display: flex;
              align-items: center;
              gap: 0.5rem;
              width: 100%;
              .w-input {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                flex: 1 0 0;
              }
              span {
                color: var(--1inch-tc-02);
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.625rem; /* 162.5% */
              }
            }
            .chain {
              width: 100%;
              display: flex;
              padding: 0.65rem 0.5rem;
              align-items: center;
              justify-content: center;
              gap: 0.5rem;
              border-radius: 0.75rem;
              background-color: var(--1inch-cbc-02);
              color: var(--1inch-tc-01);
              font-size: 1rem;
              font-weight: 400;
              line-height: 1rem; /* 100% */
            }
          }
          .fliter_checkbox_wrapper {
            display: flex;
            width: 100%;
            padding: 0.4375rem 0.5rem;
            align-items: center;
            justify-content: space-between;
            gap: 0.5rem;
            border-radius: 0.75rem;
            background-color: var(--1inch-cbc-05);
            &:hover {
              background-color: #1e2633;
            }
            .count {
              color: var(--1inch-tc-02);
              text-align: right;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.625rem; /* 162.5% */
            }
          }
        }
      }
    }
    .line {
      width: 100%;
      padding: 0.5px 0;
      background-color: #212936;
    }
  }
  .filter-footer {
    display: flex;
    width: 100%;
    padding: 0.5rem 1rem 1rem 1rem;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    z-index: 1;
    &::before {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
      opacity: 0.949999988079071;
      background-color: var(--1inch-cbc-03);
      backdrop-filter: blur(10px);
    }
    @include media-min-lg {
      display: none;
    }
    .common-button {
      display: flex;
      padding: 0.5rem 1.125rem;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      flex: 1 0 0;
      border-radius: 0.75rem;
      span {
        color: var(--1inch-tc-01);
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.625rem; /* 162.5% */
      }
      &.btn-reset {
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.25);
      }
      &.btn-apply {
        background-color: var(--1inch-bc-08);
      }
    }
  }
}


.colection-list-table-filter-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: transform 0.5s ease;
  background-color: var(--1inch-cbc-03);

  @include media-min-lg {
    z-index: 1;
    position: sticky;
    top: 6rem;
    width: 15.5rem;
    border-radius: 1.5rem;
    padding: 1rem 0rem;
    height: auto;
  }
  .c-filter-header {
    display: flex;
    width: 100%;
    padding: 1.25rem 1rem 1rem 1.5rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--1inch-cbc-05);
    border-bottom: 1px solid #2F3B4D;
    @include media-min-lg {
      display: none;
    }
    h6 {
      margin: 0;
      color: var(--1inch-tc-01);
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 1.5rem; /* 120% */
    }
    .close-icon {
      display: flex;
      padding: 0.25rem;
      align-items: flex-start;
      gap: 0.625rem;
      border-radius: 0.5rem;
      background-color: transparent;
      &:hover {
        background-color: var(--1inch-cbc-02) !important;
      }
      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
  .filter-inner__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1rem 0rem;
    height: calc(100vh - 9rem);
    @include scroll-bar(0.125rem,0.125rem);
    @include media-min-lg {
      height: 31rem;
      padding: 0;
    }
    .filter-body-header {
      display: flex;
      padding: 0rem 0.5rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
      align-self: stretch;
      .toggle-wrapper {
        width: 100%;
        display: flex;
        padding: 0.4375rem 0.5rem 0.4375rem 1rem;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        border-radius: 0.5rem;
        p {
          margin: 0;
          color: var(--1inch-tc-02);
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.625rem; /* 162.5% */
        }
      }
    }
    .filter-body {
      display: flex;
      padding: 0rem 0.5rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
      width: 100%;
    }
    .accordion {
      width: 100%;
      .accordion-item {
        width: 100%;
        background-color: var(--1inch-cbc-05);
        border: none;
        border-radius: 0.75rem;
        overflow: hidden;

        .accordion-button {
          background-color: transparent;
          box-shadow: none;
          color: var(--1inch-tc-01);
          padding: 0 !important;

          &.collapsed {
            .downArrowIcon {
              display: block !important;
            }
            .upArrowIcon {
              display: none !important;
            }
          }
          &:not(.collapsed) {
            .upArrowIcon {
              display: block !important;
            }
            .downArrowIcon {
              display: none !important;
            }
          }
          &::before,&::after {
            display: none;
          }
          .accordion-filter-header {
            width: 100%;
            display: flex;
            padding: 0.6875rem 0.75rem 0.6875rem 1rem;
            align-items: center;
            justify-content: space-between;
            gap: 0.75rem;
            border-radius: 0.75rem;
            p {
              margin: 0;
              color: var(--1inch-tc-01);
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.625rem; /* 162.5% */
            }
            .icon-wrapper {
              display: flex;
              align-items: center;
              gap: 0.75rem;
              span {
                color: var(--1inch-tc-02);
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.625rem; /* 162.5% */
              }
              svg {
                width: 1rem;
                height: 1rem;
              }
            }
          }
        }
        .accordion-body {
          display: flex;
          padding: 0.5rem;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          .range-inputs {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 0.5rem;
            width: 100%;
            .price-range-input {
              display: flex;
              align-items: center;
              gap: 0.5rem;
              width: 100%;
              .w-input {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                flex: 1 0 0;
              }
              span {
                color: var(--1inch-tc-02);
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.625rem; /* 162.5% */
              }
            }
            .chain {
              width: 100%;
              display: flex;
              padding: 0.65rem 0.5rem;
              align-items: center;
              justify-content: center;
              gap: 0.5rem;
              border-radius: 0.75rem;
              background-color: var(--1inch-cbc-02);
              color: var(--1inch-tc-01);
              font-size: 1rem;
              font-weight: 400;
              line-height: 1rem; /* 100% */
            }
          }
          .fliter_checkbox_wrapper {
            display: flex;
            width: 100%;
            padding: 0.4375rem 0.5rem;
            align-items: center;
            justify-content: space-between;
            gap: 0.5rem;
            border-radius: 0.75rem;
            // background-color: var(--1inch-cbc-05);
            // &:hover {
            //   background-color: #1e2633;
            // }
            .count {
              color: var(--1inch-tc-02);
              text-align: right;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.625rem; /* 162.5% */
            }
          }
        }
      }
    }
    .line {
      width: 100%;
      padding: 0.5px 0;
      background-color: #212936;
    }
  }
  .filter-footer {
    display: flex;
    width: 100%;
    padding: 0.5rem 1rem 1rem 1rem;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    z-index: 1;
    &::before {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
      opacity: 0.949999988079071;
      background-color: var(--1inch-cbc-03);
      backdrop-filter: blur(10px);
    }
    @include media-min-lg {
      display: none;
    }
    .common-button {
      display: flex;
      padding: 0.5rem 1.125rem;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      flex: 1 0 0;
      border-radius: 0.75rem;
      span {
        color: var(--1inch-tc-01);
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.625rem; /* 162.5% */
      }
      &.btn-reset {
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.25);
      }
      &.btn-apply {
        background-color: var(--1inch-bc-08);
      }
    }
  }
}


.c___filter-button {
  display: flex;
  height: 2.625rem;
  padding: 0.25rem;
  align-items: center;
  border-radius: 0.75rem;
  background-color: var(--inch-cbc-09);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25), 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
  gap: 0.125rem;
  .d-f-w {
    display: flex;
    padding: 0.625rem 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 2.5rem;

    span {
      color: var(--1inch-tc-01);
      text-align: center;
      font-size: 0.8125rem;
      font-weight: 400;
      line-height: normal;
    }
    &:hover,&.active {
      background-color: var(--1inch-cbc-04) !important;
    }
  }
}

.c__btn-group {
  .btn-ftr {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem 0.5rem 1.125rem;
    gap: 0.5rem;
    background-color: rgba(47, 138, 245, 0.16);
    color: var(--1inch-tc-08);
    border: none;
    border-radius: 0.75rem;
    min-width: 5rem;
    span {
      color: #2F8AF5;
      text-align: center;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.625rem; /* 162.5% */
    }
    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
    &:focus,&:active,&:hover {
      background-color: rgba(47, 138, 245, 0.32) !important;
      outline:none !important;
      border: none !important;
      box-shadow: none !important;
    }
  }
  ul {
    padding: 0.5rem 0px;
    min-width: 5rem;
    background: var(---1inch-th-bc-01);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    li {
      button {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.6;
        padding: 0.5rem 1rem;
        text-align: left;
        color: var(---1inch-cstc-01);
        &:hover{
          background-color: var(---1inch-th-bc-03);
        }
      }
    }
  }
}
