#table-view-collection {
    .table-responsive {
      @include scroll-bar(0.2rem, 0.2rem);
      table {
        td {
          white-space: nowrap;
          vertical-align: middle;
        }

        thead {
          tr {
            th {
              padding: 0 0.75rem 0.75rem 0.75rem;
              color: var(--1inch-tc-02);
              font-size: 0.8125rem;
              font-weight: 300;
              line-height: 1rem; /* 123.077% */
            }
          }
        }

        tbody {
          tr {
            background-color: transparent;
            &:hover {
              @include media-min-lg {
                background-color: var(--inch-cbc-09) !important;
                td {
                  &:first-child {
                    border-radius: 0.75rem 0 0 0.75rem;
                  }
                  &:last-child {
                    border-radius: 0 0.75rem 0.75rem 0;
                  }
                  .price-buy-wrapper {
                    background-color: var(--1inch-bc-08) !important;
                    border: 1px solid #202835 !important;
                    .line,.buy-text {
                      visibility: visible !important;
                    }
                  }
                }
              }
            }
            td {
              padding: 0.75rem;
              .profile-item {
                display: flex;
                align-items: center;
                gap: 1rem;
                max-width: 15.9rem;
                img {
                  width: 2.875rem;
                  height: 2.875rem;
                  border-radius: 0.875rem;
                }
                p {
                  margin: 0;
                  color: var(--1inch-tc-01);
                  font-size: 1rem;
                  font-weight: 500;
                  line-height: 1.625rem; /* 162.5% */
                  max-width: calc(100% - 3.875rem);
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  overflow: hidden;
                }
              }
              .badge {
                width: fit-content;
                display: flex;
                padding: 0.25rem 0.5rem;
                justify-content: center;
                align-items: center;
                gap: 0.25rem;
                border-radius: 1.5rem;
                background-color: var(--1inch-cbc-11);
                span {
                  color: var(--1inch-tc-02);
                  text-align: center;
                  font-size: 0.8125rem;
                  font-weight: 400;
                  line-height: 1rem; /* 123.077% */
                }
              }
              .common-text {
                margin: 0;
                color: var(--1inch-tc-01);
                text-align: left;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.625rem; /* 162.5% */
              }
              .on-icon {
                display: flex;
                align-items: flex-start;
                gap: 0.5rem;
                .on_image {
                  width: 2rem;
                  height: 2rem;
                  border-radius: 50%;
                }
              }
              .price-buy-wrapper {
                display: flex;
                padding: 0.1875rem 0.75rem;
                justify-content: flex-end;
                align-items: center;
                gap: 0.5rem;
                border-radius: 0.5rem;
                border: 1px solid transparent;
                background-color: transparent;
                width: fit-content;
                p {
                  margin: 0;
                  color: var(--1inch-tc-01);
                  text-align: left;
                  font-size: 1rem;
                  font-weight: 500;
                  line-height: 1.625rem; /* 162.5% */
                }
                .price {
                  display: flex;
                  align-items: center;
                  .icon {
                    display: flex;
                    width: 1rem;
                    height: 1rem;
                    padding: 0.125rem;
                    justify-content: center;
                    align-items: center;
                    svg {
                      width: 0.75rem;
                      height: 0.75rem;
                    }
                  }
                }
                .line {
                  width: 1px;
                  height: 1rem;
                  background-color: var(--1inch-bc-07);
                  opacity: 0.25;
                  visibility: hidden;
                }
                .buy-text {
                  visibility: hidden;
                }
              }
              .add-to-cart {
                display: flex;
                padding: 0.25rem;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
                border-radius: 0.5rem;
                background-color: rgba(47, 138, 245, 0.16);
                width: 2rem;
                height: 2rem;
                cursor: pointer;
                svg {
                  width: 1.5rem;
                  height: 1.5rem;
                }
              }
            }
          }
        }
      }
    }
}

#mobile-list-view {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .listOfCollectionCard {
        background-color: transparent;
        border: none;
        .card-header {
            background-color: transparent !important;
            border: none;
            padding: 0;
            display: flex;
            align-items: center;
            gap: 1rem;
            .card-image {
                width: 2.875rem;
                height: 2.875rem;
                border-radius: 0.5rem;
                img {
                    border-radius: 0.5rem;
                }
            }
            .card-title_wrapper {
                width: calc(100% - 3.875rem);
                gap: 1rem;
                .card-title__details {
                    width: calc(100% - 3rem);
                    h6 {
                        line-height: 1rem;
                        color: $theme-clr-litewhite;
                        max-width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        @include media-max-alt(420px) {
                            font-size: 0.813rem;
                        }
                    }
                    .rarity {
                        padding: 0.1rem 0.45rem;
                        gap: 0.25rem;
                        background: #202835;
                        border-radius: 1.5rem;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 0.688rem;
                        line-height: 0.875rem;
                        color: $theme-clr-grayblue;
                    }
                }

                .cart-btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0.25rem;
                    gap: 0.5rem;
                    width: 2rem;
                    height: 2rem;
                    background: rgba(47, 138, 245, 0.16);
                    border-radius: 0.5rem;
                    img {
                        width: 1.25rem !important;
                        height: 1.25rem !important;
                    }
                }
            }
        }
        .card-body {
            table {
                thead {
                    td {
                        color: $theme-clr-grayblue;
                        font-size: 0.688rem;
                        vertical-align: middle;
                        padding: 0.2rem 0.15rem;
                    }
                }
                tbody {
                    td {
                        vertical-align: middle;
                        color: $theme-clr-litewhite;
                        font-size: 0.888rem;
                        padding: 0.2rem 0.15rem;
                    }
                    .price_value {
                        gap: 0.125rem;
                        img {
                            width: 0.5rem !important;
                            height: 0.75rem !important;
                        }
                    }
                    .on_img {
                        width: 1.5rem !important;
                        height: 1.5rem !important;
                    }
                }
            }
            .nft-details {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                margin-top: 1rem;
                .nft_detail {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 0.75rem;
                    .title {
                        color: var(--1inch-tc-02);
                        font-size: 0.688rem;
                        line-height: 1;
                    }
                    .value {
                        display: flex;
                        align-items: center;
                        gap: 0.25rem;
                        p {
                            color: var(---1inch-cstc-01);
                            font-size: 0.888rem;
                            line-height: 1;
                        }
                        img {
                            width: 0.75rem !important;
                            height: 0.75rem !important;
                        }
                        .on_img {
                            width: 1.5rem !important;
                            height: 1.5rem !important;
                        }
                    }
                }
            }
        }
    }
}
