.cart-wrapper {
    position: fixed;
    background-color: var(--1inch-bc-05);
    border-radius: 1.25rem;
    top: 5.5rem;
    right: 0.5rem;
    left: auto;
    width: 26.875rem;
    height: calc(100vh - 6rem);
    transition: transform 0.4s ease-in-out;
    z-index: 2000;
   
   
    @include media-max-md {
        z-index: 2000;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        border-radius: 0;
        height: 100vh;
    }

    .cart-header {
        h4 {
            color: var(--1inch-tc-01);
            font-weight: 500;
            font-size: 1.25rem;
            line-height: 1.5;
        }
        .close_icon {
            cursor: pointer;
            transition: all 0.4s ease-in;
            padding: 0.4rem 0.5rem;
            border-radius: 0.5rem;
            background-color: transparent;
            &:hover{
                background-color: #06070a !important;
            }
            img {
                width: 1.25rem !important;
                height: 1.25rem !important;
            }
        }
    }
    .cart-body {
        padding: 1rem 0.5rem;
        overflow-y: auto;
        @include scroll-bar(0.2rem,0.2rem);
        height: calc(100vh - 18.5rem);
        @include media-min-md {
            height: calc(100vh - 24rem);
        }
        .cart-details {
            padding: 0.8rem;
            p {
                color: var(--1inch-tc-02);
                font-size: 0.9rem;
                line-height: 1;
            }
            span {
                color: var(--1inch-bc-08);
                font-size: 0.9rem;
                line-height: 1;
            }
        }
        .cart-list {
            padding: 0.8rem;
            transition: all 0.3s ease-in-out;
            border-radius: 0.75rem;
           
            &:hover {
                background-color: $accordion-bg-clr-hover;
                .btn-remove {
                    display: flex !important;
                }
                .total_value_details {
                    display: none !important;
                }
            }

            .cart-img {
                width: 3.5rem;
                height: 3.5rem;
                margin-right: 1rem;
                border-radius: 0.875rem;
                img {
                    width: 3.5rem !important;
                    height: 3.5rem !important;
                    border-radius: 0.875rem;
                }
            }
            .cart-list-body {
                width: calc(100% - 4.5rem);
                .left-side {
                    display: flex;
                    flex-direction: column;
                    gap: 0.813rem;
                    p {
                        color: var(--1inch-tc-01);
                        font-size: 1rem;
                        line-height: 1;
                    }
                    .p_name {
                        gap: 0.25rem;
                        
                        h6 {
                            font-size: 1rem;
                            line-height: 1rem;
                            font-weight: 400;
                            color: var(--1inch-tc-02);
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            width: calc(100% - 1.25rem);
                        }
                        img {
                            width: 1.25rem !important;
                            height: 1.25rem !important;
                        }
                    }
                }
                .right-side {
                    margin-left: 1rem;
                    .total_value_details {
                        display: flex;
                        flex-direction: column;
                        gap: 0.813rem;
                        .eth {
                            gap: 0.25rem;
                            h6 {
                                font-size: 1rem;
                                line-height: 1;
                                font-weight: 400;
                                color: var(--1inch-tc-01);
                            }
                            img {
                                width: 1rem !important;
                                height: 1rem !important;
                            }
                        }
                        p {
                            color: var(--1inch-tc-02);
                        }
                    }
                    .btn-remove {
                        display: none;
                        justify-content: center;
                        align-items: center;
                        padding: 0.5rem 1rem;
                        gap: 0.5rem;
                        background: rgba(240, 72, 50, 0.16);
                        border-radius: 0.5rem;
                        color:  #F04832;
                        font-weight: 500;
                        font-size: 0.8rem;
                        line-height: 1rem;
                    }
                }
            }
        }
    }
    .cart-footer {
        position: sticky;
        bottom: 0;
        .cart-footer-details {
            background-color: $accordion-bg-clr-close;
            border-radius: 1rem;
            p {
                color: $theme-clr-grayblue;
                font-size: 1rem;
            }
            .total_value {
                gap: 0.4rem;
                h6 {
                    font-size: 1.5rem;
                    color: var(---1inch-theme-text-color);
                    margin-bottom: 0;
                }
                img {
                    width: 1rem !important;
                    height: 1rem !important;
                }
            }
        }
    }
}