.i-profile-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 4.25rem;
    z-index: 99;

    @include media-min-md {
        height: fit-content;
        position: sticky;
        top: 6.5rem;
        border-radius: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
    }

    &:hover {
        .i-profle .icons-wrapper {
            display: flex !important;
        }
    }

    .buy-details__wrapper {
        display: flex;
        padding: 1rem;
        flex-direction: column;
        gap: 1rem;
        background: var(--1inch-cbc-03);
        @include media-min-md {
            padding: 1.25rem 1rem 1rem 1rem;
            border-radius: 1.5rem;
        }
        .i-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.25rem;
            @include media-min-md {
                flex-direction: row;
                gap: 0;
            }
            .title {
                color: var(--1inch-tc-01);
                font-size: 1rem;
                font-weight: 500;
                line-height: 1.625rem;
                @include media-min-md {
                    display: none;
                }
            }
            .nft-buy-details {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                .nft-price-wrapper {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    .nft-price {
                        display: flex;
                        align-items: center;
                        gap: 0.125rem;
                        h6 {
                            margin: 0;
                            font-size: 1.5rem;
                            font-weight: 500;
                            line-height: 1.75rem;
                            color: var(--1inch-tc-01);
                            @include media-min-md {
                                font-size: 2rem;
                                font-weight: 700;
                                line-height: 2.375rem;
                            }
                        }
                        .p-icon {
                            display: flex;
                            width: 1.5rem;
                            height: 1.5rem;
                            padding: 0.1875rem;
                            justify-content: center;
                            align-items: center;
                            svg {
                                width: 1.125rem;
                                height: 1.125rem;
                            }
                        }
                    }
                    span {
                        color: var(--1inch-tc-02);
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1rem;
                    }
                }
                .marketPlaceIcon {
                    svg {
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }
        }
        .buy-detail-button {
            display: flex;
            gap: 1rem;
            .btn-buynow {
                display: flex;
                padding: 0.5rem 1.125rem;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
                flex: 1 0 0;
                border-radius: 0.75rem;
                background-color: var(--1inch-bc-08);
                border: none;
                color: var(--1inch-tc-01);
                text-align: center;
                font-size: 1rem;
                font-weight: 500;
                line-height: 1.625rem;
                white-space: nowrap;
                &:hover {
                    background-color: var(--1inch-bc-13);
                }
            }
            .btn-offer {
                display: flex;
                padding: 0.5rem 1.125rem 0.5rem 0.75rem;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
                flex: 1 0 0;
                border-radius: 0.75rem;
                background-color: rgba(47, 138, 245, 0.16);
                border: none;
                white-space: nowrap;
                .off-icon {
                    width: 1.5rem;
                    height: 1.5rem;
                }
                span {
                    color: var(--1inch-bc-08);
                    text-align: center;
                    font-size: 1rem;
                    font-weight: 500;
                    line-height: 1.625rem;
                }
                &:hover {
                    background-color: rgba(47, 138, 245, 0.32);
                }
            }
            .btn-cart {
                display: flex;
                padding: 0.5625rem;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
                border-radius: 0.75rem;
                background: rgba(47, 138, 245, 0.16);
                border: none;
                white-space: nowrap;
                .c-icon {
                    width: 1.5rem;
                    height: 1.5rem;
                }
                &:hover {
                    background-color: rgba(47, 138, 245, 0.32);
                }
            }
        }
        .sale-end-on {
            display: none;
            @include media-min-md {
                display: flex;
                padding: 0.25rem 0.75rem;
                align-items: center;
                gap: 0.5rem;
                border-radius: 0.75rem;
                background: var(--1inch-cbc-08);
                span {
                    color: var(--1inch-tc-02);
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.625rem;
                }
            }
        }
    }
}

.i-profle {
    img {
        object-fit: contain;
        height: 100%;
        display: table;
        margin: auto;
        max-height: 100%;
        border-radius: 1.5rem;
        max-width: 100%;
    }
    .icons-wrapper {
        top: 1rem;
        right: 1rem;
        gap: 0.75rem;
        display: none;
        align-items: center;
        position: absolute;

        .icons {
            cursor: pointer;
            width: 2rem;
            height: 2rem;
            background: rgba(6, 7, 10, 0.8);
            border-radius: 1.25rem;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 1.5rem !important;
                height: 1.5rem !important;
            }
        }
    }
    &:hover {
        .icons-wrapper {
            display: flex !important;
        }
    }
}

