#item-graphs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include media-min-md {
        margin-top: -9rem;
        z-index: 1;
        position: relative;
    }
    .accordion-item {
        border: none !important;
        padding: 1rem;
        background: var(--1inch-cbc-03) !important;
        border-radius: 1rem !important;
       
        .accordion-header {
            .accordion-button {
                transition: all 0.5s ease-in-out;
                color: var(--1inch-tc-01);
                padding: 0 !important;
                display: flex;
                gap: 1rem;
                img {
                    margin: 0 !important;
                    &:last-child {
                        display: none;
                    }
                }
                &.collapsed {
                    .opened_icon {
                        display: none !important;
                    }
                    .not_open_icon {
                        display: block !important;
                    }
                    background: var(--1inch-cbc-03) !important;
                    &:hover {
                        background: var(--1inch-cbc-03) !important;
                    }
                }
                &:not(.collapsed) {
                    .opened_icon {
                        display: block !important;
                    }
                    .not_open_icon {
                        display: none !important;
                    }
                    background: var(--1inch-cbc-03) !important;
                    box-shadow: none !important;
                    padding-bottom: 1rem !important;
                }
                .badges {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    .badge {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 0.25rem 0.5rem;
                        gap: 0.25rem;
                        height: 1.5rem;
                        background: #202835;
                        border-radius: 1.5rem;
                        font-size: 0.813rem;
                        line-height: 1rem;
                        color: $theme-clr-grayblue;
                    }
                }
            }
        }
        .accordion-body {
            border-radius: 1.5rem !important;
            .accordion-body__header {
                @include media-max-sm {
                    flex-direction: column !important;
                    gap: 1rem;
                    .filter-button {
                        order: 1;
                        width: fit-content;
                    }
                    .left-side {
                        order: 2;
                        flex-direction: row !important;
                    }
                }
            }
            img {
                height: 15.625rem;
            }

            .traits-details__wrapper {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                .traits-details {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    padding: 0.5rem;
                    background: $accordion-bg-clr-hover;
                    border-radius: 0.75rem;
                    @include media-min-sm {
                        width: 48%;
                    }
                    @include media-min-md {
                        width: 100%;
                    }
                    @include media-min-lg {
                        width: 48%;
                    }
                    .s_title {
                        font-weight: 400;
                        font-size: 0.813rem;
                        line-height: 1rem;
                    }
                    .t_val {
                        font-weight: 500;
                        font-size: 1rem;
                        line-height: 1.625rem;
                    }
                    .text-litewhite {
                        color: $theme-clr-litewhite;
                    }
                    .text-grayblue {
                        color: $theme-clr-grayblue;
                    }
                }
            }

            .section-title___wrapper {
                .section-title__button {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  align-items: center;
                  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
                  gap: 0.5rem;
                  min-width: 6.25rem;
                  height: 2rem;
                  background: rgba(47, 138, 245, 0.16);
                  border-radius: 0.75rem;
                  border: none;
                  span {
                    font-size: 0.813rem;
                    line-height: 1rem;
                    color: #2f8af5;
                  }
                  img {
                    width: 1rem !important;
                    height: 1rem !important;
                  }
                  &:hover,
                  &:active {
                    background: rgba(47, 138, 245, 0.16) !important;
                  }
                  &:focus {
                    background: rgba(47, 138, 245, 0.16);
                    outline: none;
                    border-color: transparent !important;
                  }
                }
                ul {
                  margin-top: 0.5rem;
                  padding: 1rem 0px;
                  min-width: 6.25rem;
                  background: #141924;
                  box-shadow: 0px 0px 0.25rem rgba(0, 0, 0, 0.1),
                    0px 0.01rem 0.125rem rgba(0, 0, 0, 0.25);
                  border-radius: 0.75rem;
                  li {
                    width: 100%;
                    button {
                      padding: 0.5rem 1rem;
                      font-size: 0.813rem;
                      line-height: 1rem;
                      transition: all 0.4s ease-in-out;
                      color: $theme-clr-litewhite !important;
                      &:hover,
                      &:active {
                        background: rgba(6, 10, 16, 0.5) !important;
                      }
                    }
                  }
                }
            }

            .activity-table {
                background-color: var(--1inch-cbc-02);
                padding: 1rem;
                border-radius: 1rem;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                overflow: hidden;
                padding: 1rem 0;
                max-height: 15rem;
                @include scroll-bar(0.2rem, 0.2rem);
                .table-responsive {
                  display: none;
                  margin: 0rem 1rem;
                  @include scroll-bar(0.2rem, 0.2rem);
                  @include media-min-sm {
                    display: block;
                  }
                  table {
                    height: 100%;
                    thead {
                      th {
                        background-color: transparent;
                        color: $theme-clr-grayblue;
                        font-size: 0.813rem;
                        line-height: 1rem;
                        white-space: nowrap;
                      }
                    }
                    tbody {
                      td {
                        background-color: transparent;
                        min-width: 8rem;
                        vertical-align: middle;
                        &:nth-child(2) {
                          min-width: 6rem;
                        }
                      }
                    }
                  }
                }
                .evnt_detail {
                  display: flex;
                  align-items: center;
                  gap: 0.5rem;
                  .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0.375rem;
                    gap: 0.625rem;
                    width: 1.75rem;
                    height: 1.75rem;
                    background: #10141c;
                    border-radius: 0.375rem;
                    img {
                      width: 1rem !important;
                      height: 1rem !important;
                    }
                  }
                  p {
                    font-weight: 500;
                    font-size: 0.813rem;
                    line-height: 1rem;
                    max-width: calc(100% - 1.75rem);
                    text-overflow: ellipsis;
                    overflow: hidden;
                    color: #b0bfff;
                    white-space: nowrap;
                    &.text-transfer {
                      color: #b0bfff !important;
                    }
                    &.text-listed {
                      color: #ff9c08 !important;
                    }
                    &.text-sold {
                      color: #008a7c !important;
                    }
                    &.text-cancel {
                      color: #e3402a !important;
                    }
                  }
                }
                .price {
                  display: flex;
                  align-items: center;
                  gap: 0.35rem;
                  p {
                    font-weight: 500;
                    font-size: 0.813rem;
                    line-height: 1rem;
                    max-width: calc(100% - 1rem);
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    &.text-litewhite {
                      color: $theme-clr-litewhite;
                    }
                    &.text-gray {
                      color: $theme-clr-grayblue;
                    }
                  }
                  img {
                    width: 1rem !important;
                    height: 1rem !important;
                  }
                }
                .from,
                .to {
                  display: flex;
                  align-items: center;
                  gap: 0.5rem;
                  img {
                    width: 1.5rem !important;
                    height: 1.5rem !important;
                  }
                  p {
                    font-weight: 500;
                    font-size: 0.813rem;
                    line-height: 1rem;
                    max-width: calc(100% - 1.5rem);
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    color: $theme-clr-grayblue;
                  }
                }
                .time {
                  display: flex;
                  align-items: center;
                  gap: 0.4rem;
                  p {
                    font-weight: 500;
                    font-size: 0.813rem;
                    line-height: 1rem;
                    max-width: calc(100% - 1rem);
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    &.text-litewhite {
                      color: $theme-clr-litewhite;
                    }
                    &.text-gray {
                      color: $theme-clr-grayblue;
                    }
                  }
                  img {
                    width: 0.6rem !important;
                    height: 0.6rem !important;
                  }
                }
                .activity-details-wrapper {
                  overflow-y: auto;
                  @include scroll-bar(0.2rem, 0.2rem);
                  padding: 1rem;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  gap: 1rem;
                  .activity-details {
                    display: flex;
                    justify-content: space-between;
                    gap: 0.75rem;
                    .icon {
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      padding: 0.375rem;
                      gap: 0.625rem;
                      width: 2rem;
                      height: 2rem;
                      background: #10141c;
                      border-radius: 0.375rem;
                      img {
                        width: 1rem !important;
                        height: 1rem !important;
                      }
                    }
                    .detail {
                      display: flex;
                      flex-direction: column;
                      gap: 0.5rem;
                      width: calc(100% - 2rem);
                      img {
                        width: 1rem !important;
                        height: 1rem !important;
                      }
            
                      p {
                        font-size: 0.813rem;
                        line-height: 1rem;
                      }
            
                      .title-wrapper {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        p {
                          font-weight: 500;
                          &.text-transfer {
                            color: #b0bfff;
                          }
                          &.text-listed {
                            color: #ff9c08;
                          }
                          &.text-sold {
                            color: #008a7c;
                          }
                          &.text-cancel {
                            color: #e3402a;
                          }
                        }
                        .value {
                          display: flex;
                          align-items: center;
                          gap: 0.25rem;
                          p {
                            color: $theme-clr-litewhite !important;
                          }
                        }
                      }
                      .other-details {
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;
                        p {
                          font-weight: 400;
                          color: $theme-clr-grayblue;
                        }
                        .time {
                          display: flex;
                          align-items: center;
                          gap: 0.3rem;
                          p {
                            max-width: calc(100% - 1rem);
                          }
                          img {
                            width: 0.7rem !important;
                            height: 0.7rem !important;
                          }
                        }
                      }
                    }
                  }
                }
            }

            .details-wrapper {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                .detail {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  p {
                    font-size: 1rem;
                    line-height: 1.625rem;
                    &.d-label {
                      font-weight: 400;
                      color: $theme-clr-grayblue;
                    }
                    &.d-val {
                      font-weight: 500;
                      color: $theme-clr-litewhite;
                    }
                    &.text-blue {
                      color: #2f8af5 !important;
                    }
                    &.text-caps {
                      text-transform: capitalize;
                    }
                  }
                  .earning-details {
                    display: flex;
                    align-items: center;
                    gap: 0.4rem;
                    p {
                      width: calc(100% - 1rem);
                    }
                    img {
                      width: 1rem !important;
                      height: 1rem !important;
                    }
                  }
                }
            }
        }
    }
    
    // ==== no data ====
    .no-data {
        color: var(--1inch-tc-01);
        text-align: center;
        font-size: 0.9rem;
    }
}