.section-filter-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  @include media-min-lg {
    flex-direction: row;
    justify-content: space-between;
  }

  .section-filter-left-side {
    display: flex;
    align-items: center;
    gap: 1rem;
    .filter-btn {
      display: flex;
      padding: 0.5625rem;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      border-radius: 0.75rem;
      border: 1px solid #202835;
      cursor: pointer;
      &.active {
        svg {
          path {
            fill: var(--1inch-tc-01) !important;
          }
        }
      }
      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
    .search__wrapper {
      display: flex;
      padding: 0.5rem 0.75rem 0.5rem 1rem;
      align-items: center;
      gap: 0.75rem;
      border-radius: 0.75rem;
      background: var(--1inch-cbc-12);
      flex: 1;
      @include media-min-lg {
        flex: unset;
      }
      @include media-min-xl {
        width: 25.625rem;
      }
      input {
        padding: 0;
        background-color: transparent;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1 0 0;
        color: var(--1inch-tc-01);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.625rem;
        &::placeholder {
          color: var(--1inch-tc-02);
        }
        &:focus {
          color: var(--1inch-tc-01);
        }
      }
      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  .section-filter-right-side {
    &.profile-section-dropdown {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 0.5rem;
      @include media-min-md {
        gap: 1rem;
      }
    }
    &.watchlist-dropdown-section {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      @include media-min-sm {
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 0.5rem;
      }
      @include media-min-md {
        gap: 1rem;
      }
    }
    // ==== custom dropdown ====
    .dropdown {
      .btn-cus-dropdown {
        display: flex;
        padding: 0.5rem 0.75rem 0.5rem 1.125rem;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        border-radius: 0.75rem;
        background-color: rgba(47, 138, 245, 0.16);
        border: none;
        white-space: nowrap;
        width: 100%;
        @include media-min-sm {
          width: auto;
        }
        &:hover {
          background-color: rgba(47, 138, 245, 0.32);
        }
        span {
          color: var(--1inch-tc-08);
          text-align: center;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.625rem;
          @include media-max-alt(360px) {
            font-size: 0.813rem;
            line-height: 1rem;
          }
        }
        .icon {
          width: 1.5rem;
          height: 1.5rem;
          svg {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }
      .cus-ul {
        margin-top: 0.5rem;
        padding: 1rem 0rem;
        border-radius: 1rem;
        background: var(--1inch-cbc-03);
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25), 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
        &.cus-vol-list {
          min-width: 12.875rem;
        }
        &.cus-all-chain {
          min-width:8.25rem;
          @include media-max-alt(360px) {
            min-width: 7.063rem;
            ul {
              a {
                font-size: 0.813rem !important;
                line-height: 1rem !important;
              }
            }
          }
        }
        &.cus-filter {
          min-width: 5.063rem;
          @include media-max-alt(360px) {
            min-width: 4.5rem;
            ul {
              a {
                font-size: 0.813rem !important;
                line-height: 1rem !important;
              }
            }
          }
        }

        li {
          width: 100%;
          display: flex;
          padding: 0.5rem 1rem;
          align-items: center;
          gap: 1rem;
          a {
            padding: 0;
            color: var(--1inch-tc-01);
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.625rem;
            background-color: transparent;
          }
          &:hover {
            background-color: rgba(6, 10, 16, 0.5) !important;
          }
        }
      }
    }

    .df-wrapper {
      display: flex;
      height: 2.625rem;
      padding: 0.25rem;
      align-items: center;
      border-radius: 0.75rem;
      background-color: var(--inch-cbc-09);
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25), 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
      gap: 0.125rem;
      .df-btn {
        display: flex;
        padding: 0.625rem 0.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
        cursor: pointer;
        width: 2.5rem;
        span {
          color: var(--1inch-tc-01);
          text-align: center;
          font-size: 0.8125rem;
          font-weight: 400;
          line-height: normal;
        }
        &:hover,&.active {
          background-color: var(--1inch-cbc-04) !important;
        }
      }
    }

    .layout-c-wrapper {
      display: flex;
      padding: 0.5625rem;
      align-items: flex-start;
      gap: 1rem;
      border-radius: 0.75rem;
      border: 1px solid #202835;
      @include media-max-alt(360px) {
        padding: 0.5rem;
        gap: 0.75rem;
      }
      .layout-c-icon {
        width: 1.5rem;
        height: 1.5rem;
        &.active {
          rect {
            stroke: var(--1inch-tc-01);
          }
        }
      }
    }

    .dropdown-wrapper-watchlist {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      @include media-min-sm {
        justify-content: flex-end;
      }
      @include media-min-md {
        gap: 1rem;
      }
      .layout-c-wrapper {
        margin-left: auto;
        @include media-min-sm {
          margin-left: 0;
        }
      }
    }
  }
}
