.footer-fixed_sweep {
    position: fixed;
    z-index: 99;
    bottom: 4.25rem;
    left: 0;
    right: 0;
    @include media-min-md {
        bottom: 0;
    }
    @include  media-min-lg {
        left: 1rem;
    }
    @include media-min-xl {
        left: 2rem;
    }
    // padding: 1rem;
    .buttons-wrapper {
        display: flex;
        width: 100%;
        padding: 1rem;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        background: var(--inch-cbc-09);
        backdrop-filter: blur(50px);
        @include media-min-lg {
            display: none;
        }
        .sweep-analytics-btn {
            display: flex;
            width: 100%;
            align-items: flex-start;
            gap: 0.5rem;
            .btn-sa {
                display: flex;
                padding: 0.5rem 0.5625rem;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
                flex: 1 0 0;
                border-radius: 0.75rem;
                border: 1px solid #202835;
                span {
                    color: var(--1inch-tc-01);
                    font-size: 1rem;
                    font-weight: 500;
                    line-height: 1.625rem; /* 162.5% */
                }
                svg {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }
    }
    .sweep-wrapper {
        display: flex;
        padding: 0.75rem 1rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        background-color: var(--1inch-cbc-01);
        width: 100%;
        @include media-min-lg {
            border-radius: 1rem;
            width: fit-content;
        }
        .sweep-inner-wrapper {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 100%;
            @include media-min-lg {
                flex-direction: row;
                align-items: center;
            }
            .s-filter {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                @include media-min-md {
                    gap: 2rem;
                }
                .close-icon {
                    display: flex;
                    padding: 0.5625rem;
                    justify-content: center;
                    align-items: center;
                    gap: 0.5rem;
                    border-radius: 0.75rem;
                    border: 1px solid #202835;
                    svg {
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }
                .btn-sweep {
                    padding: 0.5rem 0.5625rem;
                    justify-content: center;
                    align-items: center;
                    gap: 0.5rem;
                    border-radius: 0.75rem;
                    display: none;
                    @include media-min-md {
                        display: flex;
                    }
                    svg {
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                    span {
                        color: var(--1inch-tc-01);
                        font-size: 1rem;
                        font-weight: 500;
                        line-height: 1.625rem; /* 162.5% */
                    }
                }
                .sweep-range-wrapper {
                    display: flex;
                    align-items: center;
                    flex: 1 0 0;
                    gap: 0.5rem;
                    @include media-min-md {
                        gap: 1rem;
                    }
                    .slider-control {
                        display: none;
                        @include media-min-md {
                            display: flex;
                            align-items: center;
                            flex: 1 0 0;
                        }
                        @include media-min-lg {
                            flex: unset;
                            width: 12.375rem;
                        }
                        input[type="range"] {
                            /* removing default appearance */
                            -webkit-appearance: none;
                            appearance: none;
                            /* creating a custom design */
                            width: 100%;
                            cursor: pointer;
                            outline: none;
                            border-radius: 0.125rem;
                            /*  overflow: hidden;  remove this line*/
                            /* New additions */
                            height: 0.125rem;
                            background: var(--1inch-cbc-18);
                        }
                        /* Thumb: webkit */
                        input[type="range"]::-webkit-slider-thumb {
                            /* removing default appearance */
                            -webkit-appearance: none;
                            appearance: none;
                            /* creating a custom design */
                            height: 1rem;
                            width: 1rem;
                            background-color: var(--1inch-bc-08);
                            border-radius: 50%;
                            border: none;
                        }

                        /* Thumb: Firefox */
                        input[type="range"]::-moz-range-thumb {
                            height: 1rem;
                            width: 1rem;
                            background-color: var(--1inch-bc-08);
                            border-radius: 50%;
                            border: none;
                        }
                    }
                    .sweep-settings-btn {
                        display: flex;
                        padding: 0.5625rem;
                        justify-content: center;
                        align-items: center;
                        gap: 0.5rem;
                        border-radius: 0.75rem;
                        border: 1px solid #202835;
                        @include media-max-alt(766px) {
                            order: 3;
                        }
                        .icon {
                            display: flex;
                            width: 1.5rem;
                            height: 1.5rem;
                            justify-content: center;
                            align-items: center;
                            svg {
                                width: 1.5rem;
                                height: 1.5rem;
                            }
                        }
                    }
                    .input-cus-wrapper {
                        display: flex;
                        flex: 1 0 0;
                        padding: 0.3125rem 0.5rem 0.3125rem 1rem;
                        justify-content: space-between;
                        align-items: center;
                        border-radius: 0.75rem;
                        border: 1px solid var(--1inch-tc-08);
                        background-color: var(--1inch-cbc-02);
                        @include media-min-md {
                            flex: unset;
                            width: 12.45313rem;
                        }
                        .selected-price {
                            display: flex;
                            padding-right: 0px;
                            align-items: center;
                            gap: 0.125rem;
                            padding-right: 2rem;
                            @include media-min-md {
                                padding-right: 1rem;
                            }
                            p {
                                margin: 0;
                                color: var(--1inch-tc-01);
                                font-size: 1rem;
                                font-weight: 400;
                                line-height: 1.625rem; /* 162.5% */
                            }
                            .icon {
                                display: flex;
                                width: 1rem;
                                height: 1rem;
                                padding: 0.125rem;
                                justify-content: center;
                                align-items: center;
                                svg {
                                    display: none;
                                    width: 0.75rem;
                                    height: 0.75rem;
                                    @include media-min-md {
                                        display: block;
                                    }
                                }
                            }
                        }
                        .select-btn {
                            display: flex;
                            width: 6.51563rem;
                            padding: 0.125rem;
                            align-items: flex-start;
                            gap: 0.0625rem;
                            border-radius: 0.5rem;
                            background-color: var(--1inch-cbc-02);
                            .seq-btn {
                                display: flex;
                                padding: 0.375rem 0.5rem;
                                justify-content: center;
                                align-items: center;
                                gap: 0.625rem;
                                border-radius: 0.375rem;
                                flex: 1 0 0;
                                cursor: pointer;
                                span {
                                    color: var(--1inch-tc-01);
                                    font-size: 0.8125rem;
                                    font-weight: 500;
                                    line-height: 1rem; /* 123.077% */
                                }
                                &.active {
                                    background-color: var(--1inch-bc-03);
                                    span {
                                        text-transform: uppercase;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .sweep-wallet-connect-btn {
                display: flex;
                padding: 0.5rem 0.75rem;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
                border-radius: 0.75rem;
                border: 1px solid #202835;
                background-color: var(--1inch-bc-08);
                p {
                    margin: 0;
                    color: var(--day-static-white, #FFF);
                    text-align: right;
                    font-size: 1rem;
                    font-weight: 500;
                    line-height: 1.625rem; /* 162.5% */
                }
                .price-w-icon {
                    display: flex;
                    align-items: center;
                    .icon {
                        display: flex;
                        width: 1rem;
                        height: 1rem;
                        padding: 0.125rem;
                        justify-content: center;
                        align-items: center;
                        svg {
                            width: 0.75rem;
                            height: 0.75rem;
                        }
                    }
                }
                .line {
                    width: 1px;
                    height: 1rem;
                    background-color: var(--1inch-tc-01);
                    opacity: 0.25;
                }
            }
        }
    }
}

.sweep-body-padding {
    padding-bottom: 9rem;
    @include media-min-lg {
        padding-bottom: 0;
    }
}
