// === watchlist table ===

.myWatchlist-table {
  border-collapse: inherit;
  border-spacing: 0 0.5rem;
  margin: 0 !important;
  thead {
    tr {
      th {
        padding-top: 0;
        padding-bottom: 0;
        white-space: nowrap;
        vertical-align: middle;
        border-bottom: 1px solid transparent;
        @include media-min-lg {
          border-bottom: 1px solid var(--1inch-bc-11);
        }
      }
      .table-heading {
        display: flex;
        padding: 0.5rem 0.75rem 0.75rem 0rem;
        align-items: center;
        gap: 0.25rem;

        span {
          color: var(--1inch-tc-02);
          font-size: 0.8125rem;
          font-weight: 400;
          line-height: 1rem;
        }
        svg {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }
  tbody {
    tr {
      cursor: pointer;
      margin-bottom: 0.5rem;
      &:last-child {
        margin-bottom: 0;
      }
      &:hover {
        background-color: var(--inch-cbc-09);
        &:nth-child(odd) {
          td {
            &:first-child {
              border-top-left-radius: 1rem;
              border-bottom-left-radius: 1rem;
            }
            &:last-child {
              border-top-right-radius: 1rem;
              border-bottom-right-radius: 1rem;
            }
          }
        }
      }
      td {
        border-bottom: 1px solid var(--1inch-bc-11);
        vertical-align: middle;
        white-space: nowrap;

        @include media-min-lg {
          border-bottom: 1px solid transparent;
        }
        .nft-collection {
          display: flex;
          align-items: center;
          gap: 1rem;
          max-width: 20rem;
          .nft-image {
            width: 2.875rem;
            height: 2.875rem;
            border-radius: 0.875rem;
            img {
              width: 2.875rem;
              height: 2.875rem;
              border-radius: 0.875rem;
            }
          }
          .nft-content {
            width: calc(100% - 3.875rem);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 0.25rem;
            .nft-title-wrapper {
              width: 100%;
              display: flex;
              align-items: center;
              gap: 0.125rem;
              .wrap-title {
                max-width: calc(100% - 1rem);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
              h6 {
                margin: 0;
                color: var(--1inch-tc-01);
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.625rem;
              }
              p {
                margin: 0;
                color: var(--1inch-tc-02);
                font-size: 0.8125rem;
                font-weight: 400;
                line-height: 1rem;
              }
              svg {
                width: 1rem;
                height: 1rem;
              }
            }
          }
        }
        .nft-stats-w-icon {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          p {
            margin: 0;
            font-size: 1rem;
            line-height: 1.625rem;
          }
          .text-wicon {
            display: flex;
            align-items: center;
            gap: 0.125rem;
            .icon {
              display: flex;
              width: 1rem;
              height: 1rem;
              padding: 0.125rem;
              justify-content: center;
              align-items: center;
              svg {
                width: 0.75rem;
                height: 0.75rem;
                flex-shrink: 0;
              }
            }
          }
        }
        .add-watchlist {
          margin-left: auto;
          width: 2.125rem;
          height: 2.125rem;
          display: flex;
          padding: 0.5rem;
          justify-content: center;
          align-items: center;
          gap: 0.25rem;
          border-radius: 0.5rem;
          border: 1px solid #202835;
          background-color: var(--1inch-cbc-02);
          @include media-min-lg {
            background-color: transparent;
          }
          .icon {
            display: flex;
            width: 1rem;
            height: 1rem;
            justify-content: center;
            align-items: center;
            svg {
              width: 1rem;
              height: 1rem;
              flex-shrink: 0;
            }
          }
        }
        &:last-child {
          position: sticky;
          right: 0;
        }
      }
    }
  }
}

.profile-portfolio-table {
  border-collapse: inherit;
  border-spacing: 0 1rem;
  thead {
    tr {
      th {
        vertical-align: middle;
        white-space: nowrap;
        border-bottom: 1px solid var(--1inch-bc-11);
        &:first-child {
          width: 1rem;
        }
      }
      .table-heading {
        display: flex;
        padding: 0.5rem 0.75rem 0.5rem 0rem;
        align-items: center;
        gap: 0.25rem;
        span {
          color: var(--1inch-tc-02);
          font-size: 0.8125rem;
          font-weight: 300;
          line-height: 1rem;
        }
        svg {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }
  tbody {
    tr {
      &:hover {
        background-color: var(--inch-cbc-09);
      }
      td {
        border-bottom: 1px solid var(--1inch-bc-11);
        vertical-align: middle;
        white-space: nowrap;
        &:first-child {
          width: 1rem;
        }
        @include media-min-lg {
          border-bottom: 1px solid transparent;
        }
        label {
          gap: 0 !important;
        }
        .nft-collection {
          display: flex;
          align-items: center;
          gap: 1rem;
          max-width: 20rem;
          .nft-image {
            width: 2.875rem;
            height: 2.875rem;
            border-radius: 0.875rem;
            img {
              width: 2.875rem;
              height: 2.875rem;
              border-radius: 0.875rem;
            }
          }
          .nft-content {
            width: calc(100% - 3.875rem);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 0.25rem;
            .wrap-title {
              margin: 0;
              color: var(--1inch-tc-01);
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.625rem;
              max-width: 100%;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
            .nft-title-wrapper {
              width: 100%;
              display: flex;
              align-items: center;
              gap: 0.125rem;
              p {
                margin: 0;
                color: var(--1inch-tc-02);
                font-size: 0.8125rem;
                font-weight: 400;
                line-height: 1rem;
              }
              svg {
                width: 1rem;
                height: 1rem;
              }
            }
          }
        }
        .price {
          display: flex;
          align-items: center;
          gap: 0.125rem;
          p {
            margin: 0;
            color: var(--1inch-tc-01);
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.625rem;
          }
          .icon {
            display: flex;
            width: 1rem;
            height: 1rem;
            padding: 0.125rem;
            justify-content: center;
            align-items: center;
            svg {
              width: 0.75rem;
              height: 0.75rem;
            }
          }
        }
        .value {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 0.25rem;
          .percentage {
            font-size: 0.8125rem;
            font-weight: 400;
            line-height: 1rem;
          }
        }
      }
    }
  }
}

.profile-offer-table {
  border-collapse: inherit;
  border-spacing: 0 1rem;
  thead {
    tr {
      th {
        white-space: nowrap;
        border-bottom: 1px solid var(--1inch-bc-11);
        vertical-align: middle;
      }
      .table-heading {
        display: flex;
        padding: 0.5rem 0.75rem 0.5rem 0rem;
        align-items: center;
        gap: 0.25rem;
        span {
          color: var(--1inch-tc-02);
          font-size: 0.8125rem;
          font-weight: 300;
          line-height: 1rem;
        }
        svg {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }
  tbody {
    tr {
      &:hover {
        background-color: var(--inch-cbc-09);
      }
      td {
        border-bottom: 1px solid var(--1inch-bc-11);
        vertical-align: middle;
        white-space: nowrap;

        @include media-min-lg {
          border-bottom: 1px solid transparent;
        }
        .nft-collection {
          display: flex;
          align-items: center;
          gap: 1rem;
          max-width: 20rem;
          .nft-image {
            width: 2.875rem;
            height: 2.875rem;
            border-radius: 0.875rem;
            img {
              width: 2.875rem;
              height: 2.875rem;
              border-radius: 0.875rem;
            }
          }
          .nft-content {
            width: calc(100% - 3.875rem);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 0.25rem;
            .nft-title-wrapper {
              width: 100%;
              display: flex;
              align-items: center;
              gap: 0.125rem;
              p {
                margin: 0;
                color: var(--1inch-tc-01);
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.625rem;
                max-width: calc(100% - 1.25rem);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
              svg {
                width: 1rem;
                height: 1rem;
              }
            }
          }
        }
        .status-wrapper {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          .status-icon {
            display: flex;
            padding: 0.375rem;
            align-items: flex-start;
            gap: 0.625rem;
            border-radius: 0.375rem;
            background: var(--inch-cbc-09);
            svg {
              width: 1rem;
              height: 1rem;
            }
          }
          p {
            margin: 0;
            color: var(--1inch-tc-01);
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.625rem;
          }
        }
        .price {
          display: flex;
          align-items: center;
          gap: 0.125rem;
          p {
            margin: 0;
            color: var(--1inch-tc-01);
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.625rem;
          }
          .icon {
            display: flex;
            width: 1rem;
            height: 1rem;
            padding: 0.125rem;
            justify-content: center;
            align-items: center;
            svg {
              width: 0.75rem;
              height: 0.75rem;
            }
          }
        }
        .value {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 0.25rem;
          .percentage {
            font-size: 0.8125rem;
            font-weight: 400;
            line-height: 1rem;
          }
        }
        .btn-cancel {
          cursor: pointer;
          display: flex;
          padding: 0.5rem 1rem;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          border-radius: 0.5rem;
          background-color: rgba(240, 72, 50, 0.16);
          color: #F04832;
          text-align: center;
          font-size: 0.8125rem;
          font-weight: 400;
          line-height: 1rem;
          &:hover {
            background-color: rgba(240, 72, 50, 0.32);
          }
        }
      }
    }
  }
}

.profile-activity-table {
  border-collapse: inherit;
  border-spacing: 0 1rem;
  thead {
    tr {
      th {
        white-space: nowrap;
        border-bottom: 1px solid var(--1inch-bc-11);
        vertical-align: middle;
      }
      .table-heading {
        display: flex;
        padding: 0.5rem 0.75rem 0.5rem 0rem;
        align-items: center;
        gap: 0.25rem;
        span {
          color: var(--1inch-tc-02);
          font-size: 0.8125rem;
          font-weight: 300;
          line-height: 1rem;
        }
        svg {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }
  tbody {
    tr {
      &:hover {
        background-color: var(--inch-cbc-09);
        td {
          &:first-child {
            border-top-left-radius: 0.75rem;
            border-bottom-left-radius: 0.75rem;
          }
          &:last-child {
            border-top-right-radius: 0.75rem;
            border-bottom-right-radius: 0.75rem;
          }
        }
      }
      td {
        border-bottom: 1px solid var(--1inch-bc-11);
        vertical-align: middle;
        white-space: nowrap;

        @include media-min-lg {
          border-bottom: 1px solid transparent;
        }
        .transacion-wrapper {
          display: flex;
          width: 10.5rem;
          justify-content: space-between;
          align-items: center;
          .transacion-details {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            .icon {
              display: flex;
              padding: 0.375rem;
              align-items: flex-start;
              gap: 0.625rem;
              border-radius: 0.375rem;
              background-color: var(--inch-cbc-09);
              svg {
                width: 1rem;
                height: 1rem;
              }
            }
            p {
              margin: 0;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.625rem;
            }
          }
          .market-place-icon {
            svg {
              width: 2rem;
              height: 2rem;
            }
          }
        }
        .nft-collection {
          display: flex;
          align-items: center;
          gap: 1rem;
          max-width: 20rem;
          .nft-image {
            width: 2.875rem;
            height: 2.875rem;
            border-radius: 0.5rem;
            img {
              width: 2.875rem;
              height: 2.875rem;
              border-radius: 0.5rem;
            }
          }
          .nft-content {
            width: calc(100% - 3.875rem);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 0.25rem;
            .nft-title-wrapper {
              width: 100%;
              display: flex;
              align-items: center;
              gap: 0.125rem;
              p {
                margin: 0;
                color: var(--1inch-tc-01);
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.625rem;
                max-width: calc(100% - 1.25rem);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
              svg {
                width: 1rem;
                height: 1rem;
              }
            }
          }
        }
        p {
          margin: 0;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.625rem;
        }
        .price {
          display: flex;
          align-items: center;
          gap: 0.125rem;
          .icon {
            display: flex;
            width: 1rem;
            height: 1rem;
            padding: 0.125rem;
            justify-content: center;
            align-items: center;
            svg {
              width: 0.75rem;
              height: 0.75rem;
            }
          }
        }
        .buy-sell-wrapper {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          .icon {
            display: flex;
            width: 1.5rem;
            height: 1.5rem;
            justify-content: center;
            align-items: center;
            img {
              width: 1.5rem;
              height: 1.5rem;
              border-radius: 1.5rem;
            }
          }
          p {
            font-weight: 300;
          }
        }
        .time-wrapper {
          display: flex;
          align-items: center;
          gap: 0.25rem;
          svg {
            width: 1rem;
            height: 1rem;
          }
          p {
            font-weight: 300;
          }
        }

      }
    }
  }
}
