.connect-wallet__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--1inch-cbc-13) !important;
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    &.open-wallet {
        visibility: visible !important;
        opacity: 1 !important;
        .wallet-wrapper {
            transform: scale(1) translateY(0) !important;
        }
    }
    .wallet-wrapper {
        height: calc(100vh - 6rem);
        border-radius: 1.5rem;
        overflow: hidden;
        transform: scale(0) translateY(-5rem);
        @include media-min-md {
            width: 47rem;
        }
        .wallet-header {
            display: flex;
            padding: 0.75rem 0.75rem 0.75rem 1rem;
            justify-content: space-between;
            align-items: center;
            gap: 0.5rem;
            background-color: var(--1inch-cbc-03);
            @include media-min-lg {
                padding: 1.75rem 1.25rem 1rem 2rem;
            }
            p {
                margin: 0;
                color: var(--1inch-tc-01);
                font-size: 1.25rem;
                font-weight: 400;
                line-height: 1.5rem; /* 120% */
            }
            .close-icon {
                display: flex;
                padding: 0.25rem;
                align-items: flex-start;
                gap: 0.625rem;
                border-radius: 0.5rem;
                background-color: transparent;
                cursor: pointer;
                &:hover{
                    background-color: var(--1inch-cbc-08) !important;
                }
                svg {
                    width: 1.5rem;
                    height: 1.5rem;
                    path {
                        fill: var(--1inch-tc-01);
                    }
                }
            }
        }
        .wallet-content {
            display: flex;
            padding: 0.5rem 1rem 1rem 1rem;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.5rem;
            width: 100%;
            height: calc(100vh - 9rem);
            background-color: var(--1inch-cbc-03);
            overflow-y: auto;
            @include scroll-bar(0.15rem,0.15rem);
            @include media-min-lg {
                padding: 0.5rem 2rem 2rem 2rem;
            }
            .step-wrapper {
                display: flex;
                align-items: flex-start;
                gap: 1rem;
                width: 100%;
                .step-point {
                    display: flex;
                    padding: 0.125rem;
                    flex-direction: column;
                    align-items: center;
                    gap: 0.625rem;
                    border-radius: 4rem;
                    background-color: var(--1inch-cbc-11);
                    overflow: hidden;
                    span {
                        width: 1.625rem;
                        height: 1.625rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: var(--1inch-tc-02);
                        font-family: Roboto;
                        font-size: 1rem;
                        font-weight: 300;
                        line-height: 1.625rem; /* 162.5% */
                    }
                }
                .step-title-wrapper {
                    padding: 0;
                    margin: 0;
                    width: calc(100% - 2.875rem);
                    p {
                        margin: 0;
                        color: var(--1inch-tc-02);
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.625rem; /* 162.5% */
                        margin: 0;
                        span {
                            color: var(--1inch-tc-08);
                        }
                    }
                    .icon {
                        svg {
                            width: 1.5rem;
                            height: 1.5rem;
                        }
                        .is_agree {
                            display: none;
                        }
                        .is_not_agree {
                            display: block;
                            svg {
                                path {
                                    fill: var(--1inch-cbc-15) !important;
                                }
                            }
                        }
                    }
                    input[type="checkbox"]:checked ~ label {
                        .is_agree {
                            display: block !important;
                        }
                        .is_not_agree {
                            display: none !important;
                        }
                    }
                    label {
                        display: flex;
                        align-items: flex-start;
                        gap: 0.5rem;
                    }
                }
            }
            .connection-wallets-wrapper {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 0.5rem;
                width: 100%;
                @include media-min-md {
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                }

                &.is-not-checked {
                    .network-item {
                        cursor: auto !important;
                        &.active {
                            background-color: transparent !important;
                        }
                        &:hover {
                            background-color: transparent !important;
                        }
                    }
                }
                .network-item {
                    display: flex;
                    padding: 0.5rem;
                    flex-direction: column;
                    align-items: center;
                    gap: 0.5rem;
                    border-radius: 1rem;
                    background-color: transparent;
                    cursor: pointer;

                    &.active {
                        background-color: var(--1inch-cbc-14);
                        .active_icon {
                            display: block !important;
                        }
                        p {
                            color: var(--1inch-tc-01);
                            &.disabled {
                                color: var(--1inch-tc-02) !important;
                            }
                        }
                    }
                    &:hover {
                        background-color: var(--1inch-cbc-14) !important;
                    }
                    .network-icon {
                        display: flex;
                        width: 3.75rem;
                        height: 3.75rem;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        .icon {
                            width: 3.75rem;
                            height: 3.75rem;
                            svg {
                                width: 3.75rem;
                                height: 3.75rem;
                            }
                        }
                        .active_icon {
                            display: none;
                            position: absolute;
                            bottom: 0;
                            right: -0.125rem;
                            svg {
                                width: 1.25rem;
                                height: 1.25rem;
                            }
                        }
                    }
                    p {
                        margin: 0;
                        color: var(--1inch-tc-02);
                        text-align: center;
                        font-size: 0.8125rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1rem; /* 123.077% */
                        &.disabled {
                            color: var(--1inch-tc-02) !important;
                        }
                    }
                }
            }
        }
    }

}

.wallet-btn-wrapper {
    @include media-max-xl {
        button {
            width: 100%;
        }
    }
    img {
        width: 1.5rem !important;
        height: 1.5rem !important;
    }
    .btn-group {
        border: none;
        .waller-state {
            display: flex;
            padding: 0.125rem 0.125rem 0.125rem 0.5rem;
            align-items: center;
            justify-content: space-between;
            gap: 0.5rem;
            border-radius: 0.75rem !important;
            background-color: var(--1inch-cbc-05);
            opacity: 1;
            cursor: pointer;
            &:hover,&:active {
                background-color: var(--1inch-cbc-05);
                opacity: 0.8;
                .eth_value {
                    color: var(--1inch-tc-02) !important;
                }
            }
            .wallet-icon {
                svg {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
            .eth_value {
                margin: 0;
                color: var(--1inch-tc-01);
                text-align: right;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.625rem; /* 162.5% */
            }
            .acc_eth_id_wrapper {
                display: flex;
                padding: 0.1875rem 0.5rem;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                gap: 0.625rem;
                border-radius: 0.625rem;
                background-color: var(--1inch-cbc-04);
                p {
                    margin: 0;
                    color: var(--1inch-tc-01);
                    text-align: right;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.625rem; /* 162.5% */
                }
            }
        }
        ul {
            margin-top: 0.25rem;
            min-width: 17.5rem;
            border-radius: 1.5rem;
            background: var(--1inch-cbc-05);
            li {
                .connect-wallet-dropdown {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    .line {
                        width: 100%;
                        height: 1px;
                        background-color: var(--1inch-bc-11);
                    }
                    .profile-popup-header {
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;
                        .account-number {
                            display: flex;
                            padding: 0.75rem 0.75rem 0.75rem 1rem;
                            justify-content: space-between;
                            align-items: center;
                            gap: 0.5rem;
                            align-self: stretch;
                            .acc-details {
                                display: flex;
                                align-items: center;
                                gap: 0.5rem;
                                .profile-img {
                                    display: flex;
                                    width: 1.5rem;
                                    height: 1.5rem;
                                    justify-content: center;
                                    align-items: center;
                                    img {
                                        width: 1.5rem;
                                        height: 1.5rem;
                                        border-radius: 1.5rem;
                                    }
                                }
                                p {
                                    margin: 0;
                                    color: var(--1inch-tc-01);
                                    font-size: 1.25rem;
                                    font-weight: 400;
                                    line-height: 1.5rem;
                                }
                            }
                            .icon-wrapper {
                                display: flex;
                                align-items: center;
                                gap: 0.5rem;
                                .icon {
                                    display: flex;
                                    width: 2rem;
                                    height: 2rem;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 0.625rem;
                                    cursor: pointer;
                                    border-radius: 0.5rem;
                                    &:hover {
                                        background-color: var(--1inch-cbc-17);
                                    }
                                    svg {
                                        width: 1.5rem;
                                        height: 1.5rem;
                                        flex-shrink: 0;
                                    }
                                    &:last-child {
                                        svg {
                                            width: 1rem;
                                            height: 1rem;
                                            flex-shrink: 0;
                                        }
                                    }
                                }
                            }
                        }
                        .account-bl-wrapper {
                            display: flex;
                            padding: 0.5rem 1.5rem;
                            align-items: flex-start;
                            gap: 0.5rem;
                            align-self: stretch;
                            .price-wrapper {
                                display: flex;
                                align-items: center;
                                gap: 0.125rem;
                                p {
                                    margin: 0;
                                    color: var(--1inch-tc-01);
                                    font-size: 1rem;
                                    font-weight: 400;
                                    line-height: 1.625rem;
                                    letter-spacing: 0.01875rem;
                                }
                                .icon {
                                    display: flex;
                                    width: 1rem;
                                    height: 1rem;
                                    padding: 0.125rem;
                                    justify-content: center;
                                    align-items: center;
                                    svg {
                                        width: 0.75rem;
                                        height: 0.75rem;
                                        flex-shrink: 0;
                                    }
                                }
                            }
                            span {
                                color: var(--1inch-tc-02);
                                font-size: 1rem;
                                font-weight: 400;
                                line-height: 1.625rem;
                            }
                        }
                    }
                    .profile-popup-body {
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;
                    }
                    .profile-popup-footer {
                        padding-bottom: 1rem;
                    }
                    .menu-item {
                        cursor: pointer;
                        display: flex;
                        padding: 0.5rem 1rem;
                        align-items: center;
                        gap: 1rem;
                        align-self: stretch;
                        background-color: var(--1inch-cbc-03);
                        &:hover {
                            background-color: var(--1inch-cbc-08);
                        }
                        svg {
                            width: 1.5rem;
                            height: 1.5rem;
                        }
                        p {
                            margin: 0;
                            color: var(--1inch-tc-01);
                            font-size: 1rem;
                            font-weight: 400;
                            line-height: 1.625rem;
                        }
                    }
                }
            }
        }
    }

    .wallet-btn {
        display: flex;
        padding: 0.5rem;
        align-items: center;
        gap: 0.5rem;
        border-radius: 0.625rem;
        background-color: rgba(47, 138, 245, 0.16);
        border: none;
        svg {
            width: 1.5rem;
            height: 1.5rem;
        }
        span {
            color: var(--1inch-tc-08);
            text-align: right;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.625rem; /* 162.5% */
        }
        &:hover,&:active {
            color: var(--1inch-tc-08);
            background: rgba(47, 138, 245, 0.32) !important;
        }
    }
  }
