.banner-section {
  padding-top: 5.438rem !important;
  position: relative;
  @include media-min-md {
    padding-top: 6.438rem !important;
  }
  &::before {
    position: absolute;
    z-index: -1;
    content: "";
    left: -30%;
    top: 0%;
    width: 100%;
    height: 70%;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(40, 94, 176, 0.41) 0%,
      rgba(6, 19, 31, 0) 100%
    );
    @include media-min-lg {
      top: unset;
      left: -25%;
      bottom: -30%;
      width: 50%;
      height: 100%;
    }
  }
  &::after {
    position: absolute;
    z-index: -1;
    content: "";

    @include media-min-lg {
      right: -25%;
      bottom: -30%;
      width: 50%;
      height: 100%;
      background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(124, 40, 176, 0.41) 0%,
        rgba(6, 19, 31, 0) 100%
      );
      opacity: 0.5;
    }
  }
  .banner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.5rem;

    @include media-min-lg {
      flex-direction: row;
      gap: 2rem;
    }
    .large-card-wrapper {
      width: 100%;

      @include media-min-lg {
        width: calc(50% - 1rem);
      }
      @include media-min-xl {
        width: calc(100% - 33.25rem);
      }
    }
    .small-card-wrapper {
      display: flex;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      gap: 1rem;
      width: 100%;
      padding: 1px;
      @include scroll-bar(0, 0);

      @include media-min-lg {
        padding: 0;
        height: 33.75rem;
        width: calc(50% - 1rem);
        overflow: unset;
        flex-wrap: wrap;
        gap: 2rem;
      }
      @include media-min-xl {
        width: 33.25rem;
      }
      .card {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border: none;
        background-color: transparent;
        width: 15.625rem;
        flex-shrink: 0;
        scroll-snap-align: center;
        scroll-snap-stop: normal;
        cursor: pointer;
        @include media-min-lg {
          flex-shrink: unset;
          width: calc(50% - 1rem);
        }
        &:hover {
          @include media-min-lg {
            .add-to-bag,.three-dot {
              display: flex !important;
            }
          }
        }
        .nft-image {
          display: inline-flex;
          height: 11.25rem;
          justify-content: flex-end;
          align-items: center;
          border-radius: 1.5rem;
          position: relative;
          &::before {
            border-radius: 1.5rem;
            content: '';
            z-index: -2;
            position: absolute;
            left: -1px;
            right: -1px;
            top: -1px;
            bottom: -1px;
            border-radius: 1.5rem;
            background: linear-gradient(178.39deg, #434343 0%, rgba(33, 33, 33, 0) 83.3%);
          }
          &::after {
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            border-radius: 1.5rem;
            background-color: var(--1inch-bc-05);
            z-index: -1;
          }
          img {
            border-radius: 1.5rem;
            width: 100%;
            height: 100%;
          }
          .add-to-bag {
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
            width: 1.8rem;
            height: 1.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            border-radius: 50px;
            overflow: hidden;
            display: none;
            &::before {
              position: absolute;
              z-index: -1;
              content: "";
              background-color: #06070A;
              opacity: 0.7;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
            }
            svg {
              width: 1rem;
              height: 1rem;
            }
          }
        }
        .nft-content {
          display: inline-flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.5rem;
          width: 100%;
          .nft-name-wrapper {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            width: 100%;
            justify-content: space-between;
            .nft-name {
              display: flex;
              align-items: center;
              gap: 0.25rem;
              max-width: calc(100% - 2rem);
              p {
                margin: 0;
                color: var(--1inch-tc-01);
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5rem; /* 150% */
                max-width: calc(100% - 1.25rem);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                @include media-min-sm {
                  font-size: 1.25rem;
                }
              }
              svg {
                width: 1rem;
                height: 1rem;
              }
            }
            .three-dot {
              display: none;
              width: 1rem;
              height: 1rem;
            }
          }
          .nft-stats-wrapper {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            width: 100%;
            .stats-wrapper {
              display: flex;
              align-items: center;
              gap: 0.25rem;
              .stats-name {
                margin: 0;
                color: var(--1inch-tc-02);
                font-size: 0.8125rem;
                line-height: 1rem; /* 123.077% */
                font-weight: 300;
                white-space: nowrap;
                @include media-min-sm {
                  font-size: 1rem;
                  line-height: 1.625rem; /* 162.5% */
                }
              }
              .price {
                display: flex;
                align-items: center;
                gap: 0.125rem;
                p {
                  margin: 0;
                  color: var(--1inch-tc-01);
                  font-size: 0.875rem;
                  line-height: 1.625rem; /* 162.5% */
                  font-weight: 400;
                  white-space: nowrap;
                  @include media-min-sm {
                    font-size: 1rem;
                  }
                }
                .icon {
                  display: flex;
                  width: 1rem;
                  height: 1rem;
                  padding: 0.125rem;
                  justify-content: center;
                  align-items: center;
                  svg {
                    width: 0.75rem;
                    height: 0.75rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
