footer {
    @include media-min-xl {
        padding-top: 1.5rem;
    }
    .footer-section {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        gap: 2rem;
        @include media-min-lg {
            flex-direction: row;
            justify-content: space-between;
        }
        @include media-min-xl {
            margin-bottom: 3.875rem;
            padding: 0 3rem;
        }
        .footer-menu {
            order: 2;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: flex-start;
            gap: 2rem;
            @include media-min-md {
                grid-template-columns: repeat(4,1fr);
            }
            @include media-min-lg {
                gap: 3rem;
                grid-template-columns: 1fr 1fr;
                order: 1;
            }
            @include media-min-xl {
                grid-template-columns: repeat(4,1fr);
            }
            @include media-min-xxl {
                gap: 4.5rem;
            }
            .f-menu {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1.25rem;

                h6 {
                    margin: 0;
                    font-size: 1.25rem;
                    font-weight: 500;
                    line-height: 1.75rem;
                    color: var(--1inch-tc-01);
                }
                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 1.25rem;
                    margin: 0 !important;
                    li {
                        a {
                            color: var(--1inch-tc-13);
                            font-size: 1rem;
                            line-height: 1.625rem;
                            font-weight: 400;
                            &:hover {
                                color: var(--1inch-tc-01);
                            }
                        }
                    }
                }
            }
        }
        .subscription__newsletter {
            order: 1;
            @include media-min-lg {
                order: 2;
            }
            h6 {
               margin-bottom: 0.5rem;
                font-size: 1.25rem;
                font-weight: 500;
                line-height: 1.75rem;
                color: var(--1inch-tc-01);
            }
            ul {
                li {
                    a {
                        color: var(--1inch-tc-13);
                        font-size: 1rem;
                        line-height: 1.625rem;
                        font-weight: 400;
                    }
                }
            }
            .btn-subscription {
                display: none;
                @include media-min-alt(768px) {
                    margin-top: 1.5rem;
                    display: flex;
                    padding: 1rem 1.125rem 1rem 1.5rem;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    border-radius: 1rem;
                    border: 1px solid var(--1inch-bc-14);
                    background-color: var(--1inch-cbc-21);
                    span {
                        font-size: 1rem;
                        line-height: 1.625rem;
                        font-weight: 400;
                        color: var(--1inch-tc-01);
                    }
                    svg {
                        width: 1.5rem;
                        height: 1.5rem;
                        path {
                            fill: var(--1inch-tc-01);
                        }
                    }
                    &:hover {
                        background: rgba(255,255,255,.2) !important;
                    }
                }
            }
            .subscription_input {
                position: relative;
                .subscription__email {
                    padding: 1rem;
                    background-color: var(--1inch-bc-15);
                    backdrop-filter: blur(2px);
                    border-radius: 0.5rem;
                    color: var(--1inch-tc-01);
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.625rem; /* 162.5% */
                    &::placeholder {
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.625rem; /* 162.5% */
                        color: var(--1inch-tc-15);
                    }
                }
                .icon {
                    position: absolute;
                    right: 0rem;
                    top: 0rem;
                    bottom: 0rem;
                    width: 2rem;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    svg {
                        width: 1rem;
                        height: 1rem;
                        path {
                            stroke: var(--1inch-tc-01) !important;
                        }
                    }
                }
            }
        }
    }
    .copy-right {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: var(--1inch-tc-13);
        padding: 2rem 0 1rem 0rem;
        @include media-min-sm {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        p {
            margin: 0;
            font-size: 1rem;
            line-height: 1.625rem;
        }
    }
}

.mobile-connect-wallet-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    width: 100%;
    height: 4.25rem;
    padding: 1rem;
    align-items: center;
    background-color: var(--1inch-bc-16);
    backdrop-filter: blur(10px);
    border-top: 1px solid var(--1inch-bc-18);
    z-index: 99;

    .connect-wallet-inner-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .price {
            display: none;
            align-items: center;
            gap: 0.125rem;
            p {
                margin: 0;
                color: var(--1inch-tc-01);
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.625rem; /* 162.5% */
            }
            .price-mpl-icon {
                display: flex;
                width: 1rem;
                height: 1rem;
                padding: 0.125rem;
                justify-content: center;
                align-items: center;
                svg {
                    width: 0.75rem;
                    height: 0.75rem;
                }
            }
        }
        .c-w-button-wrapper {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-left: auto;
            .connect-button {
                display: flex;
                padding: 0.3125rem 0.5rem;
                align-items: center;
                gap: 0.5rem;
                border-radius: 0.625rem;
                background-color: rgba(47, 138, 245, 0.16);
                cursor: pointer;
                span {
                    color: var(--1inch-tc-08);
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.625rem; /* 162.5% */
                }
                svg {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
            .connected-button {
                display: none;
                padding: 0.125rem 0.5rem;
                align-items: center;
                gap: 0.5rem;
                border-radius: 0.75rem;
                background-color: var(--1inch-bc-17);
                cursor: pointer;
                svg {
                    width: 1.5rem;
                    height: 1.5rem;
                }
                p {
                    margin: 0;
                    color: var(--1inch-tc-01);
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.625rem; /* 162.5% */
                }
            }
            .settings-icon {
                display: flex;
                padding: 0.25rem;
                align-items: flex-start;
                gap: 0.625rem;
                border-radius: 0.5rem;
                svg {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }
    }
}

.bottom-sheet-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background-color: var(--1inch-bc-19);
    backdrop-filter: blur(5px);
    .bottom-sheet-content {
        width: 100%;
        .bottom-sheet {
            position: fixed;
            right: 0;
            left: 0;
            bottom: 0;
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
            background-color: var(--1inch-bc-05);
            border-radius: 1.5rem 1.5rem 0rem 0rem;
            .sheet-header {
                display: flex;
                padding: 0.75rem 0.75rem 0.75rem 1rem;
                align-items: center;
                gap: 0.5rem;
                width: 100%;
                .header-title {
                    color: var(--1inch-tc-01);
                    font-size: 1.25rem;
                    font-weight: 500;
                    line-height: 1.5rem;
                    margin: 0;
                }
                .icon {
                    display: flex;
                    padding: 0.25rem;
                    align-items: flex-start;
                    gap: 0.625rem;
                    border-radius: 0.5rem;
                    svg {
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                    &.close-btn {
                       svg {
                            path {
                                fill: var(--1inch-tc-01);
                            }
                       }
                    }
                    &.back-btn {
                        svg {
                            path {
                                stroke: var(--1inch-tc-01);
                            }
                        }
                    }
                }
            }
            .sheet-body {
                display: flex;
                padding: 0.5rem 0rem 1rem 0rem;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
                max-height: 75vh;
                overflow-y: auto;
                @include scroll-bar(0.125rem,0.125rem);
                .menu-item {
                    display: flex;
                    padding: 0.6875rem 1rem;
                    align-items: center;
                    gap: 1rem;
                    align-self: stretch;
                    background-color: var(--1inch-cbc-05);
                    cursor: pointer;

                    &:hover {
                    background-color: var(--1inch-cbc-08);
                    }
                    &.isDisabled {
                    opacity: 0.5;
                    }
                    &.notDisabled {
                    opacity: 1 !important;
                    p {
                        color: var(--1inch-tc-01) !important;
                    }
                    .is_notChecked {
                        display: none !important;
                    }
                    .is_checked {
                        display: block !important;
                    }
                    }
                    svg,img {
                    width: 1.5rem;
                    height: 1.5rem;
                    }
                    .label-wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 0.125rem;
                    flex: 1 0 0;
                    p {
                        margin: 0;
                        color: var( --1inch-tc-02);
                        font-size: 1rem;
                        font-weight: 500;
                        line-height: 1.625rem;
                    }
                    span {
                        color: var(--1inch-tc-02);
                        font-size: 0.8125rem;
                        font-weight: 400;
                        line-height: 1rem;
                    }
                    }
                    .is_notChecked {
                    display: block;
                    }
                    .is_checked {
                    display: none;
                    }
                    input:checked {
                    background-color: #fff !important;
                    }
                }
            }
            .connect-wallet-dropdown {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                width: 100%;
                .line {
                    width: 100%;
                    height: 1px;
                    background-color: var(--1inch-bc-11);
                }
                .profile-popup-header {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    .account-number {
                        display: flex;
                        padding: 0.75rem 0.75rem 0.75rem 1rem;
                        justify-content: space-between;
                        align-items: center;
                        gap: 0.5rem;
                        align-self: stretch;
                        .acc-details {
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;
                            .profile-img {
                                display: flex;
                                width: 1.5rem;
                                height: 1.5rem;
                                justify-content: center;
                                align-items: center;
                                img {
                                    width: 1.5rem;
                                    height: 1.5rem;
                                    border-radius: 1.5rem;
                                }
                            }
                            p {
                                margin: 0;
                                color: var(--1inch-tc-01);
                                font-size: 1.25rem;
                                font-weight: 400;
                                line-height: 1.5rem;
                            }
                        }
                        .icon-wrapper {
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;
                            .icon {
                                display: flex;
                                width: 2rem;
                                height: 2rem;
                                justify-content: center;
                                align-items: center;
                                gap: 0.625rem;
                                cursor: pointer;
                                border-radius: 0.5rem;
                                &:hover {
                                    background-color: var(--1inch-cbc-17);
                                }
                                svg {
                                    width: 1.5rem;
                                    height: 1.5rem;
                                    flex-shrink: 0;
                                }
                                &:last-child {
                                    svg {
                                        width: 1rem;
                                        height: 1rem;
                                        flex-shrink: 0;
                                    }
                                }
                            }
                        }
                    }
                    .account-bl-wrapper {
                        display: flex;
                        padding: 0.5rem 1.5rem;
                        align-items: flex-start;
                        gap: 0.5rem;
                        align-self: stretch;
                        .price-wrapper {
                            display: flex;
                            align-items: center;
                            gap: 0.125rem;
                            p {
                                margin: 0;
                                color: var(--1inch-tc-01);
                                font-size: 1rem;
                                font-weight: 400;
                                line-height: 1.625rem;
                                letter-spacing: 0.01875rem;
                            }
                            .icon {
                                display: flex;
                                width: 1rem;
                                height: 1rem;
                                padding: 0.125rem;
                                justify-content: center;
                                align-items: center;
                                svg {
                                    width: 0.75rem;
                                    height: 0.75rem;
                                    flex-shrink: 0;
                                }
                            }
                        }
                        span {
                            color: var(--1inch-tc-02);
                            font-size: 1rem;
                            font-weight: 400;
                            line-height: 1.625rem;
                        }
                    }
                }
                .profile-popup-body {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                }
                .profile-popup-footer {
                    padding-bottom: 1rem;
                }
                .menu-item {
                    cursor: pointer;
                    display: flex;
                    padding: 0.5rem 1rem;
                    align-items: center;
                    gap: 1rem;
                    align-self: stretch;
                    background-color: var(--1inch-cbc-03);
                    &:hover {
                        background-color: var(--1inch-cbc-08);
                    }
                    svg {
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                    p {
                        margin: 0;
                        color: var(--1inch-tc-01);
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.625rem;
                    }
                }
            }
        }
    }
}
