header {
  .c-gp-1 {
    gap: 1rem;
    @include media-min-xxl {
      gap: 3.5rem;
    }
  }
  nav {
    padding: 0.875rem 0 !important;

    .logo {
      @include media-min-alt(768px) {
        width: 11.25rem;
        height: 3.07456rem;
      }
    }

    .header-search__field {
      display: none;
      @include media-min-alt(992px) {
        display: flex;
        flex: 1 1;
      }
      @include media-min-xl {
        max-width: 23rem;
      }
    }
  }
}

.header--icon-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  .menu-icon {
    cursor: pointer;
    display: flex;
    padding: 0.375rem;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.5rem;
    height: fit-content;
    background-color: transparent;
    transition: all 0.4s ease-in-out;

    &:hover {
      @include media-min-lg {
        background-color: var(--1inch-bc-05);
      }
    }
    .icon-width {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.header-bg {
  &::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--1inch-bc-01) !important;
    backdrop-filter: blur(10px);
    z-index: -1;
  }
}


.navbarNav {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  @include media-min-xl {
    gap: 1.125rem;
    flex-direction: row;
    align-items: center;
  }
  .nav-item {
    display: flex;
    padding: 0;
    align-items: center;
    gap: 0.25rem;
    .nav-link {
      color: var(--1inch-tc-02) !important;
      font-weight: 300;
      font-size: 1rem;
      line-height: 1.625rem;
      transition: all 0.5s ease-in-out;
      padding:  0.9375rem 1rem;
      width: 100%;
      @include media-min-xl {
        width: unset;
        padding: 0.25rem 0.5rem;
        border-radius: 0.5rem;
      }

      &:hover {
        background-color: var(--1inch-bc-05);
        color: var(--1inch-tc-01) !important;
      }
      &.active {
        background-color: #131823;
        color: var(--1inch-tc-01) !important;
      }
    }
  }
}

.settings-cus-dropdown {
  width: 20rem;
  border-radius: 0 !important;
  background-color: var(--1inch-cbc-05) !important;
  border-radius: 1.5rem !important;
  padding: 0 !important;
  border: none;

  .settings-dropdown-wrapper {
    .settings-header {
      display: flex;
      padding: 0.75rem 0.75rem 0.75rem 1rem;
      align-items: center;
      gap: 0.5rem;
      border-bottom: 1px solid #2F3B4D;
      .header-title {
        color: var(--1inch-tc-01);
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.5rem;
        margin: 0;
      }
      .icon {
        display: flex;
        padding: 0.25rem;
        align-items: flex-start;
        gap: 0.625rem;
        border-radius: 0.5rem;
        svg {
          width: 1.5rem;
          height: 1.5rem;
        }
        &.close-btn {
          svg {
                path {
                    fill: var(--1inch-tc-01);
                }
            }
        }
        &.back-btn {
            svg {
                path {
                    stroke: var(--1inch-tc-01);
                }
            }
        }
      }
    }
    .settings-body {
      display: flex;
      padding: 0.5rem 0rem 1rem 0rem;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      .menu-item {
        display: flex;
        padding: 0.6875rem 1rem;
        align-items: center;
        gap: 1rem;
        align-self: stretch;
        background-color: var(--1inch-cbc-05);
        cursor: pointer;

        &.isDisabled {
          opacity: 0.5;
        }
        &.notDisabled {
          opacity: 1 !important;
          p {
            color: var(--1inch-tc-01) !important;
          }
          .is_notChecked {
            display: none !important;
          }
          .is_checked {
            display: block !important;
          }
        }

        svg,img {
          width: 1.5rem;
          height: 1.5rem;
        }

        .label-wrapper {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.125rem;
          flex: 1 0 0;
          p {
            margin: 0;
            color: var( --1inch-tc-02);
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.625rem;
          }
          span {
            color: var(--1inch-tc-02);
            font-size: 0.8125rem;
            font-weight: 400;
            line-height: 1rem;
          }
        }
        .is_notChecked {
          display: block;
        }
        .is_checked {
          display: none;
        }
        input:checked {
          background-color: #fff !important;
        }
      }
    }
  }
}
