header {
  height: 4.438rem;
  border-bottom: 1px solid $theme-clr-border-gray;
  @include media-min-md {
    height: 5.563rem;
  }
  @include media-min-xl {
    height: 6.563rem;
    border-bottom: 1px solid transparent;
  }
  .c-gp-1 {
    gap: 1rem;
    @include media-min-xxl {
      gap: 4.5rem;
    }
  }
  nav {
    padding: 0.875rem 0 !important;
    @include media-min-xl {
      padding: 1.375rem 0 !important;
    }

    .logo {
      @include media-min-alt(768px) {
        width: 11.25rem;
        height: 3.07456rem;
      }
    }

    .header-search__field {
      display: none;
      @include media-min-alt(992px) {
        display: flex;
        flex: 1 1;
      }
    }
  }
}

.header--icon-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  .menu-icon {
    cursor: pointer;
    display: flex;
    padding: 0.375rem;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.5rem;
    height: fit-content;
    background-color: transparent;
    transition: all 0.4s ease-in-out;

    &:hover {
      background-color: var(--1inch-bc-05);
    }
    .icon-width {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.header-bg {
  &::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(7, 7, 16, 0.7) !important;
    backdrop-filter: blur(60px);
    z-index: -1;
  }
}


.navbarNav {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  @include media-min-xl {
    gap: 1.125rem;
    flex-direction: row;
    align-items: center;
  }
  .nav-item {
    display: flex;
    padding: 0;
    align-items: center;
    gap: 0.25rem;
    .nav-link {
      color: var(--1inch-tc-02) !important;
      font-weight: 300;
      font-size: 1rem;
      line-height: 1.625rem;
      transition: all 0.5s ease-in-out;
      padding:  0.9375rem 1rem;
      width: 100%;
      @include media-min-xl {
        width: unset;
        padding: 0.25rem 0.5rem;
        border-radius: 0.5rem;
      }

      &:hover {
        background-color: var(--1inch-bc-05);
        color: var(--1inch-tc-01) !important;
      }
      &.active {
        background-color: $dark-blue;
        color: var(--1inch-tc-01) !important;
      }
    }
  }
}

// === loader ===

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
  .spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: radial-gradient(farthest-side, var(--1inch-bc-08) 94%, #0000)
        top/9px 9px no-repeat,
      conic-gradient(#0000 30%, var(--1inch-bc-08));
    -webkit-mask: radial-gradient(
      farthest-side,
      #0000 calc(100% - 9px),
      #000 0
    );
    animation: spinner-c7wet2 1s infinite linear;
  }

  @keyframes spinner-c7wet2 {
    100% {
      transform: rotate(1turn);
    }
  }
}
