.user-profile-section {
  position: relative;
  padding-top: 6.5rem !important;
  @include media-min-md {
    padding-top: 8rem !important;
  }
  .user-profile-main-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    .profile-main-stats-wrapper {
      width: 100%;
      &.is_listItemCard {
        width: calc(100% - 28.9rem) !important;
      }
      // .search__wrapper {
      //   width: auto !important;
      // }
      .user-profile-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;

        .nav-pills {
          display: flex;
          align-items: center;
          gap: 1.5rem;
          width: 100%;
          margin: 0;
          border-bottom: 1px solid var(--1inch-bc-11);
          li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            .nav-link {
              padding: 0;
              background-color: transparent !important;
              color: var(--1inch-tc-02) !important;
              text-align: center;
              font-size: 1.25rem;
              font-weight: 400;
              line-height: 1.5rem;
              &.active {
                color: var(--1inch-tc-01) !important;
              }
            }
            .line {
              width: 100%;
              height: 1px;
              background-color: transparent;
            }
            .active + .line {
              background-color: var(--1inch-bc-08);
            }
          }
        }
      }

      .tabs-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        .user-profile-stats-wrapper {
          display: flex;
          gap: 2rem;
          width: 100%;
          .profile-stats {
            width: calc(100% - 22rem);
            display: flex;
            flex-direction: column;
            gap: 2rem;
          }
        }
      }

      .profile-offer-tab-grid {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)) !important;
        @include media-min-alt(680px) {
          gap: 1rem;
          grid-template-columns: repeat(auto-fill, minmax(calc(50% - 2rem), 1fr)) !important;
        }
      }
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow-x: hidden;

    &::before {
      position: absolute;
      z-index: -1;
      content: "";
      left: -30%;
      top: 0%;
      width: 65%;
      height: 70%;
      background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(40, 94, 176, 0.41) 0%,
        rgba(6, 19, 31, 0) 100%
      );
      @include media-min-lg {
        left: -40rem;
        width: 76.75rem;
        height: 76.75rem;
      }
    }
    &::after {
      @include media-min-lg {
        position: absolute;
        z-index: -1;
        content: "";
        top: 1%;
        right: -45rem;
        width: 76.75rem;
        height: 76.75rem;
        background: radial-gradient(
          50% 50% at 50% 50%,
          rgba(124, 40, 176, 0.41) 0%,
          rgba(6, 19, 31, 0) 100%
        );
        opacity: 0.5;
      }
    }
  }
}
