<section class="myWatchlist-section">
  <div class="overlay"></div>
  <div class="container-fluid">
    <div class="s-title">
      <h6>My watchlist</h6>
    </div>
    <div class="myWatchlist-section-content">
      <app-section-filter-wrapper pageLayOut='watchlist' (viewLayout) = "setPageLayout($event)" [activeLayout] = "layout"></app-section-filter-wrapper>
      <app-watchlist-table *ngIf="layout == 'table'" [data] = 'dummyData'></app-watchlist-table>
      <app-watchlist-card *ngIf="layout == 'card'" [data] = 'dummyData' profileOfferTabClass="watch-pt-2"></app-watchlist-card>
      <app-nodata-found *ngIf="dummyData.length == 0"></app-nodata-found>
    </div>
  </div>
</section>
