<section class="user-profile-section">
  <div class="overlay"></div>
  <div class="container-fluid">
    <div class="user-profile-main-wrapper">
      <div
        class="profile-main-stats-wrapper {{
          is_listItemCard ? 'is_listItemCard' : ''
        }}"
      >
        <div class="user-profile-information-wrapper">
          <app-profile-info></app-profile-info>
        </div>
        <div class="user-profile-content">
          <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item" (click)="listItemClose('portfolio')" role="presentation">
              <button
                class="nav-link {{activeTab == 'portfolio' ?  'active' : ''}}"
              >
                Portfolio
              </button>
              <div class="line"></div>
            </li>
            <li class="nav-item" (click)="listItemClose('offers')" role="presentation">
              <button
                class="nav-link {{activeTab == 'offers' ?  'active' : ''}}"
              >
                Offers
              </button>
              <div class="line"></div>
            </li>
            <li class="nav-item" (click)="listItemClose('activity')" role="presentation">
              <button
                class="nav-link {{activeTab == 'activity' ?  'active' : ''}}"
              >
                Activity
              </button>
              <div class="line"></div>
            </li>
          </ul>
          <div class="w-100">
            <div
            *ngIf="activeTab == 'portfolio'"
            >
              <app-user-portfolio-tab
                (listItemNewEvent)="setOpenListItem($event)"
                [is_listItemOpen]="is_listItemCard"
              ></app-user-portfolio-tab>
            </div>
            <div
            *ngIf="activeTab == 'offers'"
            >
              <app-user-profile-offer-tab></app-user-profile-offer-tab>
            </div>
            <div
            *ngIf="activeTab == 'activity'"
            >
              <app-user-profile-activity-tab></app-user-profile-activity-tab>
            </div>
          </div>
        </div>
      </div>
      <div class="profile-list-card-wrapper" *ngIf="is_listItemCard">
        <app-user-profile-list-items
          (closeListItemEvent)="setOpenListItem($event)"
        ></app-user-profile-list-items>
      </div>
    </div>
  </div>
</section>
