<app-banner></app-banner>
<app-section-end-line></app-section-end-line>
<app-trending-collections></app-trending-collections>
<app-section-end-line></app-section-end-line>
<app-new-collections></app-new-collections>
<app-section-end-line></app-section-end-line>
<app-highlight-projects></app-highlight-projects>
<app-section-end-line></app-section-end-line>
<app-utility-collections></app-utility-collections>
<app-section-end-line></app-section-end-line>
<app-explore-categories></app-explore-categories>
