html { // ===== reset font size depends on screen size =====
    font-size: 16px;
    @include media-min-xxl {
        font-size: 16px;
    }
    @include media-min-alt(1680px) {
        font-size: 18px;
    }
    @include media-min-alt(1900px) {
        font-size: 22px;
    }
    @include media-min-alt(2560px) {
        font-size: 30px;
    }
    @include media-min-alt(3000px) {
        font-size: 34px;
    }
    @include media-min-alt(3500px) {
        font-size: 38px;
    }
    @include media-min-alt(4000px) {
        font-size: 46px;
    }
    @include media-min-alt(4500px) {
        font-size: 52px;
    }
    @include media-min-alt(5000px) {
        font-size: 58px;
    }
}

// custom over write bootstrap class
.container-fluid {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    @include media-min-xl {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
   }
}

// custom margin

.section-top {
    margin: 2rem 0 0 0 !important;
    @include media-min-xl {
        margin: 3rem 0 0 0 !important;
    }
}

.swipe-section-top {
    margin: 1.75rem 0 0 0 !important;
    @include media-min-xl {
        margin: 2.75rem 0 0 0 !important;
    }
}

// custom padding

.cp-5 {
    @include media-min-xl {
        padding-left: 5.75rem !important;
        padding-right: 5.75rem !important;
    }
}

$weights : 100, 200, 300, 400, 500, 600, 700, 800, 900;

@each $weight in $weights {
  .cfw-#{$weight} {
    font-weight: $weight;
  }
}
